<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .scroll {
        position: absolute;
        top: -3.125rem;
        right: 0;
    }
</style>

<body>
    <main>
        <div>
            <div>
                <div id="">
                    <div class="">
                        <div>
                            <div>
                                <div id="ConfidenceMessaging" class="FeatureContainer_FeatureItem__MGFhY">
                                    <div class="">
                                        <div class="ConfidenceMessaging_ConfidenceMessaging__NTgyM"
                                            data-testid="confidenceMessaging">
                                            <div class="ConfidenceMessaging_item__ZWQ0M">
                                                <div class="ConfidenceMessaging_icon__YjIxZ"><svg
                                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        style="width:1.5rem;height:1.5rem">
                                                        <path
                                                            d="M24 13.11v1c0 1 0 2.5-1 2.5h-.501a.559.559 0 01-.534-.5 2.89 2.89 0 00-2.97-2.5 2.872 2.872 0 00-2.97 2.5c-.036.274-.256.39-.532.39H8.72a.771.771 0 01-.807-.618 2.896 2.896 0 00-2.93-2.272 2.873 2.873 0 00-2.962 2.457.624.624 0 01-.584.541h-.03a.541.541 0 01-.09-.002C.332 16.61.073 14.981.005 14.124a1.714 1.714 0 01.225-.966l1.658-2.997A1.297 1.297 0 013 9.501h11c1 0 .88-.79.194-1.289a6.749 6.749 0 00-1.596-.924 8.646 8.646 0 00-3.061-.504 14.726 14.726 0 00-3.226.386c-1.39.31-3.24.884-4.401 1.284a.547.547 0 01-.69-.377l-.003-.012a.626.626 0 01.334-.78 31.455 31.455 0 014.52-1.407A15.16 15.16 0 019.49 5.5a10.04 10.04 0 013.5.543 16.83 16.83 0 014.05 2.904 1.13 1.13 0 00.668.287 12.66 12.66 0 014.79 1.376 2.75 2.75 0 011.5 2.5z">
                                                        </path>
                                                        <path
                                                            d="M6.986 16.5a2 2 0 01-2 2h-.002a2 2 0 112.002-2.002zm14.01 0a2 2 0 01-2 2 2 2 0 112.002-2.002v.002z">
                                                        </path>
                                                    </svg></div>
                                                <div>
                                                    <p
                                                        class="BpkText_bpk-text__MmJjN BpkText_bpk-text--base__ZGRlM BpkText_bpk-text--bold__ZGE2M ConfidenceMessaging_description__M2E0Y">
                                                        전 세계 어디에서든 단 몇 초 만에 저렴한 렌터카 상품을 검색해보세요</p>
                                                </div>
                                            </div>
                                            <div class="ConfidenceMessaging_item__ZWQ0M">
                                                <div class="ConfidenceMessaging_icon__YjIxZ"><svg
                                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        style="width:1.5rem;height:1.5rem">
                                                        <path
                                                            d="M20 8.5H4a1 1 0 00-1 1v8.25A3.25 3.25 0 006.25 21h11.5A3.25 3.25 0 0021 17.75V9.5a1 1 0 00-1-1zm-12.75 9a1.25 1.25 0 111.25-1.25 1.25 1.25 0 01-1.25 1.25zm0-4.5a1.25 1.25 0 111.25-1.25A1.25 1.25 0 017.25 13zM12 17.5a1.25 1.25 0 111.25-1.25A1.25 1.25 0 0112 17.5zm0-4.5a1.25 1.25 0 111.25-1.25A1.25 1.25 0 0112 13zm4.75 0A1.25 1.25 0 1118 11.75 1.25 1.25 0 0116.75 13zM21 6.25a.75.75 0 01-.75.75H3.75A.75.75 0 013 6.25 3.25 3.25 0 016.25 3h11.5A3.25 3.25 0 0121 6.25z">
                                                        </path>
                                                    </svg></div>
                                                <div>
                                                    <p
                                                        class="BpkText_bpk-text__MmJjN BpkText_bpk-text--base__ZGRlM BpkText_bpk-text--bold__ZGE2M ConfidenceMessaging_description__M2E0Y">
                                                        신뢰할 수 있는 렌터카 업체의 상품을 한 곳에서 비교해보세요</p>
                                                </div>
                                            </div>
                                            <div class="ConfidenceMessaging_item__ZWQ0M">
                                                <div class="ConfidenceMessaging_icon__YjIxZ"><svg
                                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        style="width:1.5rem;height:1.5rem">
                                                        <path
                                                            d="M21 6.908A3.908 3.908 0 0017.092 3H12.62a3 3 0 00-2.12.878l-6.623 6.624a2.997 2.997 0 000 4.238l5.382 5.382a2.997 2.997 0 004.238 0l6.624-6.624A2.996 2.996 0 0021 11.38V6.91zM16.5 9a1.5 1.5 0 110-3 1.5 1.5 0 010 3z">
                                                        </path>
                                                    </svg></div>
                                                <div>
                                                    <p
                                                        class="BpkText_bpk-text__MmJjN BpkText_bpk-text--base__ZGRlM BpkText_bpk-text--bold__ZGE2M ConfidenceMessaging_description__M2E0Y">
                                                        환불 정책이 유연하거나 무료 취소가 가능한 렌터카 상품을 이용해보세요</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <div>
                                            <div>
                                                <h2
                                                    class="BpkText_bpk-text__MmJjN BpkText_bpk-text--heading-2__MDY5Y Header_ComponentHeader__NjFkN">
                                                    인기 있는 렌터카 여행지</h2>
                                            </div>
                                            <div class="main_container">
                                                <div class="DesktopScrollContainer_DesktopScrollContainer__nav__MDI2N">
                                                    <button type="button"
                                                        class="BpkButtonBase_bpk-button__MzA4Z BpkButtonSecondary_bpk-button--secondary__NjQzY"
                                                        aria-label="prev" disabled="">
                                                        <span
                                                            style="line-height:1rem;display:inline-block;margin-top:0.25rem;vertical-align:top"><svg
                                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                                width="16" height="16" style="width:1rem;height:1rem"
                                                                class="BpkIcon_bpk-icon--rtl-support__NjAzZ">
                                                                <path
                                                                    d="M15.905 19.113a1.496 1.496 0 01-2.008 0l-5.948-6.397a1 1 0 01-.004-1.358l6.012-6.532a1.427 1.427 0 011.948.138 1.572 1.572 0 01.103 1.997L11.37 12.04l4.535 4.97a1.72 1.72 0 010 2.104z">
                                                                </path>
                                                            </svg>
                                                        </span>
                                                    </button>
                                                    <button type="button"
                                                        class="BpkButtonBase_bpk-button__MzA4Z BpkButtonSecondary_bpk-button--secondary__NjQzY"
                                                        aria-label="next">
                                                        <span
                                                            style="line-height:1rem;display:inline-block;margin-top:0.25rem;vertical-align:top"><svg
                                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                                width="16" height="16" style="width:1rem;height:1rem"
                                                                class="BpkIcon_bpk-icon--rtl-support__NjAzZ">
                                                                <path
                                                                    d="M8.095 4.887a1.496 1.496 0 012.008 0l5.948 6.397a1 1 0 01.003 1.358l-6.01 6.532a1.427 1.427 0 01-1.949-.138 1.572 1.572 0 01-.103-1.997l4.638-5.078-4.535-4.97a1.72 1.72 0 010-2.104z">
                                                                </path>
                                                            </svg>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="DesktopScrollContainer_DesktopScrollContainer__card__MGE3M">
                                                    <div
                                                        class="PopularDestinations_PopularDestinations__container__NWYwO">
                                                        <div
                                                            class="BpkCard_bpk-card__YmQ2M PopularDestinations_PopularDestinations__card__ZmQ3M">
                                                            <div
                                                                class="PopularDestinations_PopularDestinations__image__NTMwM">
                                                                <div>
                                                                    <div style="height:0;padding-bottom:46.93877551020408%"
                                                                        class="BpkImage_bpk-image__OTUyZ BpkImage_bpk-image--no-background__ODNhO">
                                                                        <img class="BpkImage_bpk-image__img__NzNjY"
                                                                            alt="도쿄 렌터카"
                                                                            src="https://content.skyscnr.com/99b6d376df86c55006e1ca90a18c5902/GettyImages-479490111.jpg?crop=960px:640px&amp;quality=100">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="PopularDestinations_PopularDestinations__content__ZDNiZ">
                                                                <div
                                                                    class="PopularDestinations_PopularDestinations__leftSection__ZjMyY">
                                                                    <h3
                                                                        class="BpkText_bpk-text__MmJjN BpkText_bpk-text--body-default__YjQxN BpkText_bpk-text--bold__ZGE2M">
                                                                        도쿄 렌터카</h3>
                                                                    <p
                                                                        class="BpkText_bpk-text__MmJjN BpkText_bpk-text--caption__ODk5N PopularDestinations_PopularDestinations__carType__ZDM1M">
                                                                        <b>가장 인기 있는 차종:</b> 소형</p>
                                                                </div>
                                                                <div
                                                                    class="PopularDestinations_PopularDestinations__rightSection__ZWU5N">
                                                                    <div
                                                                        class="BpkPrice_bpk-price__YTZkN BpkPrice_bpk-price--right__YjJlN">
                                                                        <div
                                                                            class="BpkPrice_bpk-price__leading--right__MTNlM">
                                                                            <span
                                                                                class="BpkText_bpk-text__MmJjN BpkText_bpk-text--xs__OGI0Z">최저가</span>
                                                                        </div>
                                                                        <div
                                                                            class="BpkPrice_bpk-price__column-container__ZDQzY">
                                                                            <span
                                                                                class="BpkText_bpk-text__MmJjN BpkText_bpk-text--heading-4__MTNiM BpkPrice_bpk-price__price__YTM1M">₩50,038</span><span
                                                                                class="BpkText_bpk-text__MmJjN BpkText_bpk-text--xs__OGI0Z BpkPrice_bpk-price__trailing__YTE3N">/일</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>