<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/program/list.css" rel="stylesheet">
    <link href="/css/layout/index.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <title>프로그램 리스트</title>
</head>
<body>
<div th:replace="~{/layout/header :: header}"></div>
<div class="local-nev-wrap"
     style="position: sticky; padding-top: 25px; top: 81px; background-color:#FFFFFF; z-index: 10;">
    <div>
        <div>
            <div>
                <div>
                    <div class="local-nev-box">
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/gangwon.svg">
                                    <div>
                                        <span>강원</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/gyeonggi.svg">
                                    <div>
                                        <span>경기</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/gyeongsang_namdo.svg">
                                    <div>
                                        <span>경남</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/gyeongsang_bukdo.svg">
                                    <div>
                                        <span>경북</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/gwangju.svg">
                                    <div>
                                        <span>광주</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/daegu.svg">
                                    <div>
                                        <span>대구</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/daejeon.svg">
                                    <div>
                                        <span>대전</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/pusan.svg">
                                    <div>
                                        <span>부산</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/sejong.svg">
                                    <div>
                                        <span>세종</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/ulsan.svg">
                                    <div>
                                        <span>울산</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/incheon.svg">
                                    <div>
                                        <span>인천</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/jeolla_namdo.png">
                                    <div>
                                        <span>전남</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/jeolla_bukdo.svg">
                                    <div>
                                        <span>전북</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/jeju.svg">
                                    <div>
                                        <span>제주</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/chung-cheong_namdo.svg">
                                    <div>
                                        <span>충남</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/chung-cheong_bukdo.svg">
                                    <div>
                                        <span>충북</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<main>
    <div class="d-flex justify-content-space-around" id="content-box">
        <div class="content" id="content-box-main">
            <section id="program-main-container">
                <div class="content-wrap">
                    <div class="program-grid">

                        <div class="program-pic" th:each="program:${pagination.content}">
                            <div class="img-wrap" th:onclick="|location.href='@{/program/detail(id=${program.id})}'|">
                                <div class="program-img"
                                     style="--dls-liteimage-height: 254px; --dls-liteimage-width: auto; --dls-liteimage-background-image: url('data:image/png;base64,null'); --dls-liteimage-background-size: cover;">
                                    <picture>
                                        <img aria-hidden="true" loading="eager"
                                             th:src="|/host/load-image?filePath=${program.thumbnail}|"
                                             style="--dls-liteimage-object-fit: cover;">
                                    </picture>
                                </div>
                            </div>
                            <div class="program-title">
                                <div th:text="${program.programAddress}">Dolsan-eup, Yeosu-si, 한국</div>
                                <div class="">
                                    <span>
                                        <span th:text="${program.programStartDate}">8월 19일</span>
                                        <span>~</span>
                                        <span th:text="${program.programEndDate}">24일</span>
                                    </span>
                                </div>
                                <div class="pquyp1l dir dir-ltr">
                                    <div style="">
                                        <div class="_i5duul">
                                            <span class="_14y1gc">
                                            <div aria-hidden="true" class="_1jo4hgw">
                                                <span>₩</span>
                                                <span class="program-price" th:text="${program.programPrice}"></span>
                                                <span>/박</span>
                                            </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
<div th:replace="~{/layout/footer :: footer}"></div>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0206a2d2eb084b7e9e5e14b2d869093d" type="text/javascript"></script>
<script th:inline="javascript">
    console.log([[${pagination}]])
    const programList = [[${pagination.content}]]
</script>
<script>
    const priceList = document.querySelectorAll('.program-price');
    priceList.forEach(price => {
      price.innerHTML = Number.parseInt(price.innerHTML).toLocaleString();
    })
</script>
</html>