<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    <link rel="stylesheet" href="/css/diary/diary.css">-->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/program/test.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <title>프로그램 리스트</title>
</head>
<body>
<!--<header th:replace="~{/diary/diary-header :: diary-header}"></header>-->
<main>
    <div class="category-icon">
        <label aria-hidden="false" class="c1rmt9x7 c39h6gc dir dir-ltr">
            <input type="radio" name="categoryScroller" class="h192l0gc dir dir-ltr" checked="">
            <div class="c1abgzgs dir dir-ltr">
                <span class="c1ozl2w2 c1brta2w dir dir-ltr">
                    <img class="i181yxiv dir dir-ltr" src="https://a0.muscache.com/pictures/3fb523a0-b622-4368-8142-b5e03df7549b.jpg" alt="" width="24" height="24">
                    <div class="t192ua0c dir dir-ltr">
                        <span class="ti7yjx dir dir-ltr">선택 1</span>
                    </div>
                </span>
            </div>
        </label>
        <label aria-hidden="false" class="c1rmt9x7 c39h6gc dir dir-ltr">
            <input type="radio" name="categoryScroller" class="h192l0gc dir dir-ltr" checked="">
            <div class="c1abgzgs dir dir-ltr">
                <span class="c1ozl2w2 c1brta2w dir dir-ltr">
                    <img class="i181yxiv dir dir-ltr" src="https://a0.muscache.com/pictures/3fb523a0-b622-4368-8142-b5e03df7549b.jpg" alt="" width="24" height="24">
                    <div class="t192ua0c dir dir-ltr">
                        <span class="ti7yjx dir dir-ltr">선택 2</span>
                    </div>
                </span>
            </div>
        </label>
        <label aria-hidden="false" class="c1rmt9x7 c39h6gc dir dir-ltr">
            <input type="radio" name="categoryScroller" class="h192l0gc dir dir-ltr" checked="">
            <div class="c1abgzgs dir dir-ltr">
                <span class="c1ozl2w2 c1brta2w dir dir-ltr">
                    <img class="i181yxiv dir dir-ltr" src="https://a0.muscache.com/pictures/3fb523a0-b622-4368-8142-b5e03df7549b.jpg" alt="" width="24" height="24">
                    <div class="t192ua0c dir dir-ltr">
                        <span class="ti7yjx dir dir-ltr">선택 3</span>
                    </div>
                </span>
            </div>
        </label>
        <label aria-hidden="false" class="c1rmt9x7 c39h6gc dir dir-ltr">
            <input type="radio" name="categoryScroller" class="h192l0gc dir dir-ltr" checked="">
            <div class="c1abgzgs dir dir-ltr">
                <span class="c1ozl2w2 c1brta2w dir dir-ltr">
                    <img class="i181yxiv dir dir-ltr" src="https://a0.muscache.com/pictures/3fb523a0-b622-4368-8142-b5e03df7549b.jpg" alt="" width="24" height="24">
                    <div class="t192ua0c dir dir-ltr">
                        <span class="ti7yjx dir dir-ltr">선택 4</span>
                    </div>
                </span>
            </div>
        </label>
        <label aria-hidden="false" class="c1rmt9x7 c39h6gc dir dir-ltr">
            <input type="radio" name="categoryScroller" class="h192l0gc dir dir-ltr" checked="">
            <div class="c1abgzgs dir dir-ltr">
                <span class="c1ozl2w2 c1brta2w dir dir-ltr">
                    <img class="i181yxiv dir dir-ltr" src="https://a0.muscache.com/pictures/3fb523a0-b622-4368-8142-b5e03df7549b.jpg" alt="" width="24" height="24">
                    <div class="t192ua0c dir dir-ltr">
                        <span class="ti7yjx dir dir-ltr">선택 5</span>
                    </div>
                </span>
            </div>
        </label>
        <label aria-hidden="false" class="c1rmt9x7 c39h6gc dir dir-ltr">
            <input type="radio" name="categoryScroller" class="h192l0gc dir dir-ltr" checked="">
            <div class="c1abgzgs dir dir-ltr">
                <span class="c1ozl2w2 c1brta2w dir dir-ltr">
                    <img class="i181yxiv dir dir-ltr" src="https://a0.muscache.com/pictures/3fb523a0-b622-4368-8142-b5e03df7549b.jpg" alt="" width="24" height="24">
                    <div class="t192ua0c dir dir-ltr">
                        <span class="ti7yjx dir dir-ltr">선택 6</span>
                    </div>
                </span>
            </div>
        </label>
    </div>
    <div id="content-box" class="d-flex justify-content-space-around">
        <div id="content-box-main" class="content">
            <section id="program-main-container">
                <div class="content-wrap">
                    <div class="program-grid">
                        <!-- -->
                        <!-- -->
                        <div class="program-pic">
                            <div class="img-wrap">
                                <div class="program-img" style="--dls-liteimage-height: 254px; --dls-liteimage-width: auto; --dls-liteimage-background-image: url('data:image/png;base64,null'); --dls-liteimage-background-size: cover;">
                                    <picture>
                                        <img class="itu7ddv i1mla2as i1cqnm0r dir dir-ltr" aria-hidden="true" elementtiming="LCP-target" fetchpriority="high" loading="eager" src="https://a0.muscache.com/im/pictures/prohost-api/Hosting-574843000111312410/original/1f34b234-14b9-4731-a897-7c660af030d0.jpeg?im_w=720" data-original-uri="https://a0.muscache.com/im/pictures/prohost-api/Hosting-574843000111312410/original/1f34b234-14b9-4731-a897-7c660af030d0.jpeg?im_w=720" style="--dls-liteimage-object-fit: cover;">
                                    </picture>
                                    <div class="background-img" style="--dls-liteimage-background-size: cover; --dls-liteimage-background-image: url(https://images.contentstack.io/v3/assets/bltec2ed8e3c4b1e16d/bltfbcc7f32e0cd6ff5/getting-started-on-airbnb-optimized.jpg);"></div>
                                </div>
                            </div>
                            <div class="program-title">
                                <div>Dolsan-eup, Yeosu-si, 한국</div>
                                <div class="">
                                    <span>
                                        <span class="">326km 거리</span>
                                    </span>
                                </div>
                                <div class="">
                                    <span>
                                        <span class=" dir dir-ltr">8월 19일~24일</span>
                                    </span>
                                </div>
                                <div class="pquyp1l dir dir-ltr">
                                    <div style="">
                                        <div class="_i5duul"><span class="_14y1gc">
                                            <div class="_1jo4hgw" aria-hidden="true">
                                                <span class="_tyxjp1">₩286,200</span>
                                                <span class="_r1nvod">/박</span>
                                            </div>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="program-pic">
                            <div class="img-wrap">
                                <div class="program-img" style="--dls-liteimage-height: 254px; --dls-liteimage-width: auto; --dls-liteimage-background-image: url('data:image/png;base64,null'); --dls-liteimage-background-size: cover;">
                                    <picture>
                                        <img class="itu7ddv i1mla2as i1cqnm0r dir dir-ltr" aria-hidden="true" elementtiming="LCP-target" fetchpriority="high" loading="eager" src="https://a0.muscache.com/im/pictures/prohost-api/Hosting-574843000111312410/original/1f34b234-14b9-4731-a897-7c660af030d0.jpeg?im_w=720" data-original-uri="https://a0.muscache.com/im/pictures/prohost-api/Hosting-574843000111312410/original/1f34b234-14b9-4731-a897-7c660af030d0.jpeg?im_w=720" style="--dls-liteimage-object-fit: cover;">
                                    </picture>
                                    <div class="background-img" style="--dls-liteimage-background-size: cover; --dls-liteimage-background-image: url(https://images.contentstack.io/v3/assets/bltec2ed8e3c4b1e16d/bltfbcc7f32e0cd6ff5/getting-started-on-airbnb-optimized.jpg);"></div>
                                </div>
                            </div>
                            <div class="program-title">
                                <div>Dolsan-eup, Yeosu-si, 한국</div>
                                <div class="">
                                    <span>
                                        <span class="">326km 거리</span>
                                    </span>
                                </div>
                                <div class="">
                                    <span>
                                        <span class=" dir dir-ltr">8월 19일~24일</span>
                                    </span>
                                </div>
                                <div class="pquyp1l dir dir-ltr">
                                    <div style="">
                                        <div class="_i5duul"><span class="_14y1gc">
                                            <div class="_1jo4hgw" aria-hidden="true">
                                                <span class="_tyxjp1">₩286,200</span>
                                                <span class="_r1nvod">/박</span>
                                            </div>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="program-pic">
                            <div class="img-wrap">
                                <div class="program-img" style="--dls-liteimage-height: 254px; --dls-liteimage-width: auto; --dls-liteimage-background-image: url('data:image/png;base64,null'); --dls-liteimage-background-size: cover;">
                                    <picture>
                                        <img class="itu7ddv i1mla2as i1cqnm0r dir dir-ltr" aria-hidden="true" elementtiming="LCP-target" fetchpriority="high" loading="eager" src="https://a0.muscache.com/im/pictures/prohost-api/Hosting-574843000111312410/original/1f34b234-14b9-4731-a897-7c660af030d0.jpeg?im_w=720" data-original-uri="https://a0.muscache.com/im/pictures/prohost-api/Hosting-574843000111312410/original/1f34b234-14b9-4731-a897-7c660af030d0.jpeg?im_w=720" style="--dls-liteimage-object-fit: cover;">
                                    </picture>
                                    <div class="background-img" style="--dls-liteimage-background-size: cover; --dls-liteimage-background-image: url(https://images.contentstack.io/v3/assets/bltec2ed8e3c4b1e16d/bltfbcc7f32e0cd6ff5/getting-started-on-airbnb-optimized.jpg);"></div>
                                </div>
                            </div>
                            <div class="program-title">
                                <div>Dolsan-eup, Yeosu-si, 한국</div>
                                <div class="">
                                    <span>
                                        <span class="">326km 거리</span>
                                    </span>
                                </div>
                                <div class="">
                                    <span>
                                        <span class=" dir dir-ltr">8월 19일~24일</span>
                                    </span>
                                </div>
                                <div class="pquyp1l dir dir-ltr">
                                    <div style="">
                                        <div class="_i5duul"><span class="_14y1gc">
                                            <div class="_1jo4hgw" aria-hidden="true">
                                                <span class="_tyxjp1">₩286,200</span>
                                                <span class="_r1nvod">/박</span>
                                            </div>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="program-pic">
                            <div class="img-wrap">
                                <div class="program-img" style="--dls-liteimage-height: 254px; --dls-liteimage-width: auto; --dls-liteimage-background-image: url('data:image/png;base64,null'); --dls-liteimage-background-size: cover;">
                                    <picture>
                                        <img class="itu7ddv i1mla2as i1cqnm0r dir dir-ltr" aria-hidden="true" elementtiming="LCP-target" fetchpriority="high" loading="eager" src="https://a0.muscache.com/im/pictures/prohost-api/Hosting-574843000111312410/original/1f34b234-14b9-4731-a897-7c660af030d0.jpeg?im_w=720" data-original-uri="https://a0.muscache.com/im/pictures/prohost-api/Hosting-574843000111312410/original/1f34b234-14b9-4731-a897-7c660af030d0.jpeg?im_w=720" style="--dls-liteimage-object-fit: cover;">
                                    </picture>
                                    <div class="background-img" style="--dls-liteimage-background-size: cover; --dls-liteimage-background-image: url(https://images.contentstack.io/v3/assets/bltec2ed8e3c4b1e16d/bltfbcc7f32e0cd6ff5/getting-started-on-airbnb-optimized.jpg);"></div>
                                </div>
                            </div>
                            <div class="program-title">
                                <div>Dolsan-eup, Yeosu-si, 한국</div>
                                <div class="">
                                    <span>
                                        <span class="">326km 거리</span>
                                    </span>
                                </div>
                                <div class="">
                                    <span>
                                        <span class=" dir dir-ltr">8월 19일~24일</span>
                                    </span>
                                </div>
                                <div class="pquyp1l dir dir-ltr">
                                    <div style="">
                                        <div class="_i5duul"><span class="_14y1gc">
                                            <div class="_1jo4hgw" aria-hidden="true">
                                                <span class="_tyxjp1">₩286,200</span>
                                                <span class="_r1nvod">/박</span>
                                            </div>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="program-pic">
                            <div class="img-wrap">
                                <div class="program-img" style="--dls-liteimage-height: 254px; --dls-liteimage-width: auto; --dls-liteimage-background-image: url('data:image/png;base64,null'); --dls-liteimage-background-size: cover;">
                                    <picture>
                                        <img class="itu7ddv i1mla2as i1cqnm0r dir dir-ltr" aria-hidden="true" elementtiming="LCP-target" fetchpriority="high" loading="eager" src="https://a0.muscache.com/im/pictures/prohost-api/Hosting-574843000111312410/original/1f34b234-14b9-4731-a897-7c660af030d0.jpeg?im_w=720" data-original-uri="https://a0.muscache.com/im/pictures/prohost-api/Hosting-574843000111312410/original/1f34b234-14b9-4731-a897-7c660af030d0.jpeg?im_w=720" style="--dls-liteimage-object-fit: cover;">
                                    </picture>
                                    <div class="background-img" style="--dls-liteimage-background-size: cover; --dls-liteimage-background-image: url(https://images.contentstack.io/v3/assets/bltec2ed8e3c4b1e16d/bltfbcc7f32e0cd6ff5/getting-started-on-airbnb-optimized.jpg);"></div>
                                </div>
                            </div>
                            <div class="program-title">
                                <div>Dolsan-eup, Yeosu-si, 한국</div>
                                <div class="">
                                    <span>
                                        <span class="">326km 거리</span>
                                    </span>
                                </div>
                                <div class="">
                                    <span>
                                        <span class=" dir dir-ltr">8월 19일~24일</span>
                                    </span>
                                </div>
                                <div class="pquyp1l dir dir-ltr">
                                    <div style="">
                                        <div class="_i5duul"><span class="_14y1gc">
                                            <div class="_1jo4hgw" aria-hidden="true">
                                                <span class="_tyxjp1">₩286,200</span>
                                                <span class="_r1nvod">/박</span>
                                            </div>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="program-pic">
                            <div class="img-wrap">
                                <div class="program-img" style="--dls-liteimage-height: 254px; --dls-liteimage-width: auto; --dls-liteimage-background-image: url('data:image/png;base64,null'); --dls-liteimage-background-size: cover;">
                                    <picture>
                                        <img class="itu7ddv i1mla2as i1cqnm0r dir dir-ltr" aria-hidden="true" elementtiming="LCP-target" fetchpriority="high" loading="eager" src="https://a0.muscache.com/im/pictures/prohost-api/Hosting-574843000111312410/original/1f34b234-14b9-4731-a897-7c660af030d0.jpeg?im_w=720" data-original-uri="https://a0.muscache.com/im/pictures/prohost-api/Hosting-574843000111312410/original/1f34b234-14b9-4731-a897-7c660af030d0.jpeg?im_w=720" style="--dls-liteimage-object-fit: cover;">
                                    </picture>
                                    <div class="background-img" style="--dls-liteimage-background-size: cover; --dls-liteimage-background-image: url(https://images.contentstack.io/v3/assets/bltec2ed8e3c4b1e16d/bltfbcc7f32e0cd6ff5/getting-started-on-airbnb-optimized.jpg);"></div>
                                </div>
                            </div>
                            <div class="program-title">
                                <div>Dolsan-eup, Yeosu-si, 한국</div>
                                <div class="">
                                    <span>
                                        <span class="">326km 거리</span>
                                    </span>
                                </div>
                                <div class="">
                                    <span>
                                        <span class=" dir dir-ltr">8월 19일~24일</span>
                                    </span>
                                </div>
                                <div class="pquyp1l dir dir-ltr">
                                    <div style="">
                                        <div class="_i5duul"><span class="_14y1gc">
                                            <div class="_1jo4hgw" aria-hidden="true">
                                                <span class="_tyxjp1">₩286,200</span>
                                                <span class="_r1nvod">/박</span>
                                            </div>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="program-pic">
                            <div class="img-wrap">
                                <div class="program-img" style="--dls-liteimage-height: 254px; --dls-liteimage-width: auto; --dls-liteimage-background-image: url('data:image/png;base64,null'); --dls-liteimage-background-size: cover;">
                                    <picture>
                                        <img class="itu7ddv i1mla2as i1cqnm0r dir dir-ltr" aria-hidden="true" elementtiming="LCP-target" fetchpriority="high" loading="eager" src="https://a0.muscache.com/im/pictures/prohost-api/Hosting-574843000111312410/original/1f34b234-14b9-4731-a897-7c660af030d0.jpeg?im_w=720" data-original-uri="https://a0.muscache.com/im/pictures/prohost-api/Hosting-574843000111312410/original/1f34b234-14b9-4731-a897-7c660af030d0.jpeg?im_w=720" style="--dls-liteimage-object-fit: cover;">
                                    </picture>
                                    <div class="background-img" style="--dls-liteimage-background-size: cover; --dls-liteimage-background-image: url(https://images.contentstack.io/v3/assets/bltec2ed8e3c4b1e16d/bltfbcc7f32e0cd6ff5/getting-started-on-airbnb-optimized.jpg);"></div>
                                </div>
                            </div>
                            <div class="program-title">
                                <div>Dolsan-eup, Yeosu-si, 한국</div>
                                <div class="">
                                    <span>
                                        <span class="">326km 거리</span>
                                    </span>
                                </div>
                                <div class="">
                                    <span>
                                        <span class=" dir dir-ltr">8월 19일~24일</span>
                                    </span>
                                </div>
                                <div class="pquyp1l dir dir-ltr">
                                    <div style="">
                                        <div class="_i5duul"><span class="_14y1gc">
                                            <div class="_1jo4hgw" aria-hidden="true">
                                                <span class="_tyxjp1">₩286,200</span>
                                                <span class="_r1nvod">/박</span>
                                            </div>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- -->
                        <!-- -->
                    </div>
                </div>
            </section>
        </div>
        <div class="map-container">
            <img src="/img/sample-map.png">
        </div>
    </div>
</main>
<footer style="height: 500px; width: 100%; background-color: antiquewhite"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</html>