<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/program/list.css" rel="stylesheet">
    <link href="/css/layout/index.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <title>프로그램 리스트</title>
</head>
<body>
<div th:replace="~{/layout/header :: header}"></div>
<div class="local-nev-wrap"
     style="position: sticky; padding-top: 25px; top: 81px; background-color:#FFFFFF; z-index: 9999;">
    <div>
        <div>
            <div>
                <div>
                    <div class="local-nev-box">
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/gangwon.svg">
                                    <div>
                                        <span>강원</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/gyeonggi.svg">
                                    <div>
                                        <span>경기</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/gyeongsang_namdo.svg">
                                    <div>
                                        <span>경남</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/gyeongsang_bukdo.svg">
                                    <div>
                                        <span>경북</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/gwangju.svg">
                                    <div>
                                        <span>광주</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/daegu.svg">
                                    <div>
                                        <span>대구</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/daejeon.svg">
                                    <div>
                                        <span>대전</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/pusan.svg">
                                    <div>
                                        <span>부산</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/sejong.svg">
                                    <div>
                                        <span>세종</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/ulsan.svg">
                                    <div>
                                        <span>울산</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/incheon.svg">
                                    <div>
                                        <span>인천</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/jeolla_namdo.png">
                                    <div>
                                        <span>전남</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/jeolla_bukdo.svg">
                                    <div>
                                        <span>전북</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/jeju.svg">
                                    <div>
                                        <span>제주</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/chung-cheong_namdo.svg">
                                    <div>
                                        <span>충남</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <span>
                                    <img alt="" src="/img/localLogo/chung-cheong_bukdo.svg">
                                    <div>
                                        <span>충북</span>
                                    </div>
                                </span>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<main>
    <div class="d-flex justify-content-space-around" id="content-box">
        <div class="content" id="content-box-main">
            <section id="program-main-container">
                <div class="content-wrap">
                    <div class="program-grid">

                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
<div th:replace="~{/layout/footer :: footer}"></div>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0206a2d2eb084b7e9e5e14b2d869093d" type="text/javascript"></script>
<script>
    const picGrid = document.querySelector(".program-grid");
    let html = "";
    for (let i = 0; i < 15; i++) {
        html += `
            <div class="program-pic">
                <div class="img-wrap">
                    <div class="program-img"
                         style="--dls-liteimage-height: 254px; --dls-liteimage-width: auto; --dls-liteimage-background-image: url('data:image/png;base64,null'); --dls-liteimage-background-size: cover;">
                        <picture>
                            <img class="itu7ddv i1mla2as i1cqnm0r dir dir-ltr" aria-hidden="true"
                                 elementtiming="LCP-target" fetchpriority="high" loading="eager"
                                 src="https://a0.muscache.com/im/pictures/prohost-api/Hosting-574843000111312410/original/1f34b234-14b9-4731-a897-7c660af030d0.jpeg?im_w=720"
                                 data-original-uri="https://a0.muscache.com/im/pictures/prohost-api/Hosting-574843000111312410/original/1f34b234-14b9-4731-a897-7c660af030d0.jpeg?im_w=720"
                                 style="--dls-liteimage-object-fit: cover;">
                        </picture>
                    </div>
                </div>
                <div class="program-title">
                    <div>Dolsan-eup, Yeosu-si, 한국</div>
                    <div class="">
                        <span>
                            <span class="">326km 거리</span>
                        </span>
                    </div>
                    <div class="">
                        <span>
                            <span class=" dir dir-ltr">8월 19일~24일</span>
                        </span>
                    </div>
                    <div class="pquyp1l dir dir-ltr">
                        <div style="">
                            <div class="_i5duul"><span class="_14y1gc">
                                <div class="_1jo4hgw" aria-hidden="true">
                                    <span class="_tyxjp1">₩286,200</span>
                                    <span class="_r1nvod">/박</span>
                                </div>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        `
    }
    picGrid.innerHTML = html;

    const container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
    const options = { //지도를 생성할 때 필요한 기본 옵션
        center: new kakao.maps.LatLng(33.450580, 126.574942), //지도의 중심좌표.
        level: 3, //지도의 레벨(확대, 축소 정도)
    };

    const map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴

    // 마커가 표시될 위치입니다
    const markerPosition = new kakao.maps.LatLng(34.70174173174594, 127.75758201900709);

    // 마커를 생성합니다
    const marker = new kakao.maps.Marker({
        position: markerPosition
    });

    // 마커가 지도 위에 표시되도록 설정합니다
    marker.setMap(map);

    // 마우스 드래그로 지도 이동이 완료되었을 때 마지막 파라미터로 넘어온 함수를 호출하도록 이벤트를 등록합니다
    kakao.maps.event.addListener(map, 'dragend', function () {

        // 지도 중심좌표를 얻어옵니다
        var latlng = map.getCenter();

        var message = '변경된 지도 중심좌표는 ' + latlng.getLat() + ' 이고, ';
        message += '경도는 ' + latlng.getLng() + ' 입니다';

        // var resultDiv = document.getElementById('result');
        // resultDiv.innerHTML = message;

        console.log(message);
    });
    // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
    // marker.setMap(null);

    function panTo() {
        // 이동할 위도 경도 위치를 생성합니다
        var moveLatLon = new kakao.maps.LatLng(34.70174173174594, 127.75758201900709);

        // 지도 중심을 부드럽게 이동시킵니다
        // 만약 이동할 거리가 지도 화면보다 크면 부드러운 효과 없이 이동합니다
        map.panTo(moveLatLon);
    }

    const pic = document.querySelectorAll(".program-img");
    pic.forEach(e => {
        e.addEventListener("click", panTo);
    })
</script>
</html>