<!doctype html>
<html lang="en" xmlns="" xmlns:th="http://www.thymeleag.org">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
	<meta content="ie=edge" http-equiv="X-UA-Compatible">
	<title>렌트카 신청</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/layout/index.css" rel="stylesheet">
	<link href="/css/program/rent.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</head>
<body>
	<div th:replace="~{/layout/header :: header}"></div>
	<main>
		<div class="main-container">
			<div style="padding-left: 80px; padding-right: 80px;">
				<div style="margin-left: auto; margin-right: auto; max-width: 1120px;">
					<div class="car-container">

					</div>
				</div>
			</div>
		</div>
	</main>
	<div th:replace="~{/layout/footer :: footer}"></div>
</body>
</html>