@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #222;
    background-color: #fff;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

input, textarea, select, button, a {
    font-family: inherit;
    font-size: 100%;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 25px;
    margin-bottom: 15px;
}

.flex {
    display: flex;
}

.slight-divider {
    height: 1px;
    background-color: #DDDDDD;
}

.header-line {
    border-bottom-color: #222222;
    border-bottom: 1px;
}

header {
    box-shadow: 0 1px 0 rgba(0,0,0,0.135);
}


