@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #222;
    background-color: #fff;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    max-height: 100vh;
}
hr{
    border: 0;
    border-bottom: 1px solid #dddddd;
}
#content-box{
    display: flex;
    justify-content: center;
}
#content-box-main{
    width: 1000px;
}
input, textarea, select, button, a {
    font-family: inherit;
    font-size: 100%;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 25px;
    margin-bottom: 15px;
}

.flex {
    display: flex;
}

.slight-divider {
    height: 1px;
    background-color: #DDDDDD;
}

.heavy-divider {
    height: 2px;
    background-color: #222222;
}

.header-line {
    border-bottom-color: #222222;
    border-bottom: 1px;
}

header {
    box-shadow: 0 1px 0 rgba(0,0,0,0.135);
}

#search-box .diary-search-input {
    padding: 14px 0 14px 24px;
}

.inline-flex {
    display: inline-flex;
}

a:hover {
    text-decoration: none !important;
}

.top-btn {
    z-index: 10000;
    animation: 100ms cubic-bezier(0.4,0,1,1);
    right: 24px;
    transform: none;
    position: fixed;
    bottom: 24px;
    height: 48px;
    width: 140px;
}

.top-btn a{
    text-decoration: none;
}

.top-btn .btn-text-wrap {
    width: 100% !important;
    height: 80% !important;
    padding: 10% 10%;
    border-radius: 8px;
    border: 1px none;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
    background: #222222;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}


.input-label input {
    opacity: 1;
    border: none;
    padding: 0;
    margin: 26px 12px 6px;
    background-color: transparent;
}

.input-label {
    width: calc(100% - 16px);
    cursor: text;
    border-radius: 8px;
    box-shadow: inset 0 0 0 1px #B0B0B0;
    background-color: white;
    position: relative;
    flex-direction: column;
    min-height: 56px;
    color: black;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    flex: 1;
}