<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <meta charset="UTF-8">
    <meta
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/account/menu.css" rel="stylesheet">
    <link href="/css/host/host-inn.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <title>내 숙소 목록</title>
</head>
<body>
<div th:replace="~{/layout/header :: header}"></div>
<main>
    <div id="content-box" style="min-height: 567px;">
        <div class="d-flex justify-content-center" id="content-box-main">
            <section id="brief-user-info">
                <div class="info-wrap">
                    <h1 tabindex="-1">계정</h1>
                    <div class="info">
                        <span>
                            <span style="font-weight: 600;">사용자 이름 · </span>
                            <span>user@email</span>
                        </span>
                        <div class="btn-box" th:if="${!pagination.content.isEmpty()}">
                            <button class="register-btn" onclick="location.href='/host/write'">숙소 등록</button>
                        </div>
                    </div>
                </div>
            </section>
            <div class="my-house-container grid">
                <!-- -->
                <div class="my-house-block" th:if="${!pagination.content.isEmpty()}">
                    <!--  Contents -->
                    <div class="my-house-content flex" th:each="house:${pagination.content}">
                        <div style="display: flex;">
                            <div class="my-house-img-wrap">
                                <img alt="숙소 이미지"
                                     th:src="|/host/load-thumbnail?filePath=${house.thumbnail}|">
                            </div>
                            <div class="menu-description">
                                <div class="house-title" th:text="${house.houseTitle}"></div>
                                <div class="address-info" th:text="|${house.houseAddress} ${house.houseAddressDetail}|"></div>
                            </div>
                        </div>
                        <div class="btn-box">
                            <button class="hosting-btn">호스팅</button>
                            <button class="modify-btn" th:onclick="|location.href='@{/host/write(id=${house.id})}'|">수정</button>
                            <button class="delete-btn">삭제</button>
                        </div>
                    </div>
                    <ul class="page-ul" th:with="
                        nowPage = ${pagination.number + 1},
                        pageSize = ${pagination.size},
                        totalPages = ${pagination.totalPages},
                        endPage = ${((nowPage - 1) / pageSize + 1) * pageSize},
                        startPage = ${endPage - pageSize + 1},
                        realEndPage = ${endPage < totalPages ? endPage : totalPages},
                        first = ${pagination.first}, last = ${pagination.last}
                    ">
                        <li class="prev" th:classappend="${startPage == 1} ? 'none'">
                            <a th:href="@{/host/inn(page=${startPage-2})}" th:text="＜＜"></a>
                        </li>
                        <li class="prev" th:classappend="${first} ? 'none'">
                            <a th:href="@{/host/inn(page=${nowPage-2})}" th:text="＜"></a>
                        </li>
                        <li th:each="page : ${#numbers.sequence(startPage, realEndPage)}">
                            <a th:href="@{/host/inn(page=${page-1})}" th:if="${nowPage != page}" th:text="${page}"></a>
                            <span style="color: #BB84ff" th:text="${page}" th:unless="${nowPage != page}"></span>
                        </li>
                        <li class="next" th:classappend="${last} ? 'none'">
                            <a th:href="@{/host/inn(page=${nowPage})}" th:text="＞"></a>
                        </li>
                        <li class="prev" th:classappend="${endPage >= totalPages} ? 'none'">
                            <a th:href="@{/host/inn(page=${endPage})}" th:text="＞＞"></a>
                        </li>
                    </ul>
                </div>
                <div class="not-register" th:unless="${!pagination.content.isEmpty()}">
                    <h2>등록한 숙소가 없습니다.</h2>
                    <div class="btn-box">
                        <button class="register-btn" onclick="location.href='/host/write'">숙소 등록</button>
                    </div>
                </div>
            </div>
            <section id="account-deactivate">
                <div style="margin-top:52px;margin-bottom:7px">
                    <div class="deactivate-text">계정을 비활성화하셔야 하나요?</div>
                </div>
                <a href="/account-delete/reasons" style="text-decoration: underline">
                    지금 처리하기
                </a>
            </section>
        </div>
    </div>
</main>
<footer th:replace="~{/layout/footer :: footer}"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script th:inline="javascript">
  console.log([[${pagination}]])
</script>
</html>