@charset "UTF-8";

.menu-title-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.path {
    display: inline-block;
}

div.path {
    margin: 0 8px;
}

.path-text {
    margin: 0;
    overflow-wrap: break-word;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.28571em;
    color: rgb(72, 72, 72);
    text-decoration: none;
}

a.path-text:hover {
    text-decoration: underline !important;
}

.account-content {
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 48px;
}
.menu-title {
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 32px;
    font-weight: 800;
    line-height: 1.125em;
    color: rgb(72, 72, 72);
}