@charset "UTF-8";

.payment-list {
  justify-content: space-between;
}

.payment-content {
  flex-direction: column;
  margin-top: 20px;
  padding: 10px 0;
}

.pay-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  color: #222222;
}

.pay {
  padding-left: 2px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #717171;
}

.payment-created-date {
  padding-left: 4px;
  margin-top: auto;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #717171;
}

.question {
  font-weight: 600 !important;
}

#price::after {
  content: ' ì›';
}

.page-ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-inline-start: 0;
  gap: 5px;
  font-size: 18px;
}

.page-ul > li > a {
  color: #2b2b2b;
}

.none {
  display: none;
}