@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%
}

body{
    width: 100%;
    height: 100%;
}

.wrap{
    width: 100%;
    height: 100%;
    position: relative;
}

a{
    text-decoration: none;
    color: inherit;
}

nav.menu{
    width: 15%;
    background-color: white;
    height: 100%;
    position: fixed;
    z-index: 2;
}

.logo {
    height: 7%;
    margin-top: 7%;
}

.logo img{
    width: 100%;
    height: 30px;
    object-fit: fill;
    padding: 6px 0px;
}

.menu li a{
    height: 55px;
    line-height:55px;
    display: block;
    padding: 0 10px;
    font-size: 15px;
    color: #1f1f1fd9;
}

.menu li a:hover{
    background-color: #f3f3f3;
}

.menu li .active {
    background-color: #f3f3f3;
}

ul li span{
    display: flex;
    align-items: center;
}
.menu-list img{
    width: 15px;
    height: 15px;
    object-fit: cover;
    line-height: 55px;
}

hr{
    height: 1px;
    border: 0;
    background: #2927271f;
}

div.title{
    position: fixed;
    height: 9%;
    /* line-height: 60px; */
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #f3f3f3;
    z-index: 1;
}

.title span{
    padding-left: 17%;
    font-size: 20px;
    font-weight: normal;
    color: #1f1f1fd9
}

section.body{
    background-color: #fafafa;
    width: 100%;
    height: 100%;
}

.board-wrap{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 85%;
    height: 91%;
    display: flex;
    align-items: center;
}

.board-body{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    /* box-shadow: 1px 1px 3px 1px gray; */
}

.board-list-wrap{
    width: 100%;
    height: 100%;
}

.board-view{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*border-bottom: 1.5px solid #ddd;*/
}

.name{
    display: flex;
    border-bottom: 1px solid #ddd;
    height: 14%;
    line-height: 60px;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
}

.input-wrapper{
    height: 86%;
    padding: 0 30px;
}

.input-title{
    padding: 15px 0px;
    border-bottom: 1px dashed #ddd;
}

.input-title dl {
    font-size: 0;
}

.input-title dt, .input-title dd{
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
}

.input-title dt {
    width: 100px;
}

.input-title dd {
    width: calc(100% - 100px);
}

.input-title input[type="text"]{
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 14px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.input-title input[type="text"]:focus{
    /*background-color: lightblue;*/
    border: 1px solid gray;
    outline: none;
}

.input-content{
    padding: 15px 0px;
    border-bottom: 1px dashed #ddd;
}

.input-content dl {
    font-size: 0;
}

.input-content dt, .input-content dd{
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
}

.input-content dt {
    width: 100px;
}

.input-content dd {
    width: calc(100% - 100px);
}

.input-content textarea{
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 380px;
    resize: none;
    font-size: 14.5px;
    border: 1px solid lightgray;
    font-family: Arial;
    border-radius: 10px;
}

.input-content textarea:focus{
    /*background-color: lightblue;*/
    border: 1px solid gray;
    outline: none;
}

textarea::placeholder {font-family: Arial; color: #333;}
input::placeholder {font-family: Arial; color: #333;}

.input-file{
    padding: 15px 0px;
}
.input-file dl {
    font-size: 0;
}

.input-file dt, .input-file dd{
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
}

.input-file dt {
    width: 100px;
}

.input-file dd {
    /*width: calc(100% - 100px);*/
    width: 100px;
}

.input-file-label{
    background-color: #333;
    border-radius: 10px;
    color: white;
    padding: 7px 28px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 13px;
}

.button-list {
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    border: none;
    /*outline: 1px solid black;*/
    background-color: black;
    color: white;
    margin-right: 15px;
}

.button-write {
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    border: none;
    outline: 1px solid gray;
    background-color: white;
}

