<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1:1문의 내 질문</title>

    <link rel="stylesheet" href="/css/one_to_one_question/detail_one_to_one.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div th:replace="~{/layout/header :: header}"></div>
    <div id="content-box">
        <div id="content-box-main" class="p-5">
            <div id="question-box">
                <div id="root">
                    <a href="/">홈</a> > <a href="/account/menu">계정</a> > <a href="/one_to_one_question/question_list">1:1문의하기 목록</a> > <a href="#">질문 상세보기</a>
                </div>
                <div class="mt-3">
                    <div class="pt-3 pb-3">
                        <h3>카테고리 유형 들어가는 곳</h3>
                    </div>
                    <hr>
                    <div class="mb-3">
                        <p style="white-space: pre-line;">
                            회원가입까지 완료 했습니다. 어떻게 신청하는지 알고 싶습니다.
                        </p>
                    </div>
                    <hr>
                    <div class="mb-3">
                        <p style="white-space: pre-line;">
                            안녕하세요 아웃서울 팀입니다.

                            해당 질문에 대한 답변입니다.
                        </p>
                    </div>
                </div>
            </div>
        </div>        
    </div>     
</div>
<footer th:replace="~{/layout/footer :: footer}"></footer>
    
</body>
<script src="/js/layout/index.js"></script>
</html>