<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/one_to_one_question/question.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>1:1문의 리스트</title>
</head>
<body>
    <div th:replace="~{/layout/header :: header}"></div>
    <div id="content-box">
        <div id="content-box-main" class="p-5">
            <div id="root">
                <a href="/">홈</a> > <a href="/account/menu">계정</a> > <a href="/one_to_one_question/question_list">1:1문의하기 목록</a>
            </div>
            <div class="mt-5">
                <h3><strong>1:1 문의 사항</strong></h3>
                <div class="d-flex justify-content-end">
                    <div>
                        <a href="/one_to_one_question/one_to_one_question" class="btn" style="background-color:#BB84E8; color: white">질문하기</a>
                    </div>
                </div>
                <hr>
                <ul>
                    <li class="d-flex align-items-center">
                        <a href="#">질문1</a>
                    </li>
                    <li class="d-flex align-items-center" style="color: rgba(0,0,0,0.38)">2023-00-00</li>
                    <hr>
                    <li class=" d-flex align-items-center justify-content-between">
                        <a href="#">질문1</a>
                    </li>
                    <li class="d-flex align-items-center" style="color: rgba(0,0,0,0.38)">2023-00-00</li>
                    <hr>
                    <li class=" d-flex align-items-center">
                        <a href="#">질문1</a>
                    </li>
                    <li  class="d-flex align-items-center" style="color: rgba(0,0,0,0.38)">2023-00-00</li>
                    <hr>
                    <li class=" d-flex align-items-center">
                        <a href="#">질문1</a>
                    </li>
                    <li class="d-flex align-items-center" style="color: rgba(0,0,0,0.38)">2023-00-00</li>
                    <hr>
                    <li class="d-flex align-items-center">
                        <a href="#">질문1</a>
                    </li>
                    <li class="d-flex align-items-center"  style="color: rgba(0,0,0,0.38)">2023-00-00</li>
                </ul>
            </div>
        </div>
    </div>
    <footer th:replace="~{/layout/footer :: footer}"></footer>
</body>
<script src="/js/layout/index.js"></script>
</html>