<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
    <footer th:fragment="footer">
        <link rel="stylesheet" href="/css/layout/footer.css">
        <div class="footer-content">
            <div class="footer-sections">
                <section>
                    <div>
                        <h3>아웃서울 지원</h3>
                    </div>
                    <ul>
                        <li><a href="">도움말 센터</a></li>
                        <li><a href="">장애인 지원</a></li>
                        <li><a href="">예약 취소 옵션</a></li>
                        <li><a href="">이웃 민원 신고</a></li>
                    </ul>
                </section>
                <section>
                    <div>
                        <h3>커뮤니티</h3>
                    </div>
                    <ul>
                        <li><a href="">재난 구호 숙소</a></li>
                        <li><a href="">차별 철폐를 위한 노력</a></li>
                    </ul>
                </section>
                <section>
                    <div>
                        <h3>호스팅</h3>
                    </div>
                    <ul>
                        <li><a href="">당신의 공간을 호스팅해보세요</a></li>
                        <li><a href="">호스트를 위한 안전장치</a></li>
                        <li><a href="">호스팅 자료 둘러보기</a></li>
                        <li><a href="">책임감 있는 호스팅</a></li>
                    </ul>
                </section>
                <section>
                    <div>
                        <h3>아웃서울</h3>
                    </div>
                    <ul>
                        <li><a href="">뉴스룸</a></li>
                        <li><a href="">새로운 기능 알아보기</a></li>
                        <li><a href="">채용정보</a></li>
                    </ul>
                </section>
            </div>
            <div class="footer-info-wrap">
                <section>
                    <div class="footer-info">
                        <div class="footer-detail1">
                            <div>
                                <div>© Out Seoul</div>
                                <div>
                                    <span class="footer-point">·</span>
                                    <span>
                                        <ol>
                                            <li>
                                                <a href="">개인정보 처리방침</a>
                                            </li>
                                            <li>
                                                <span class="footer-point">·</span>
                                                <a href="">이용약관</a>
                                            </li>
                                            <li>
                                                <span class="footer-point">·</span>
                                                <a href="">사이트맵</a>
                                            </li>
                                            <li>
                                                <span class="footer-point">·</span>
                                                <a href="">회사 세부정보</a>
                                            </li>
                                        </ol>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div></div>
                    </div>
                    <div>
                        <div style="margin-top: 16px;border-top: 1px solid rgb(221, 221, 221);padding-top: 16px;"></div>
                    </div>
                </section>
            </div>
        </div>
    </footer>
</body>
</html>