<!doctype html>
<html lang="en" xmlns="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/administrator/admin.css">
    <title>Document</title>
</head>
<body>
<nav class="menu" th:fragment="side-nav">
    <div class="logo">
        <img src="/img/out-seoul.png" class="logo-img" alt="">
    </div>
    <hr>
    <ul class="menu-list">
        <li>
            <a href="/">
                <span><img src="/img/site_icon.png">사이트 바로가기</span>
            </a>
            <hr>
        </li>
        <li class="program active">
            <a href="/administrator/program">
                <span><img src="/img/program_icon.png">프로그램 관리</span>
            </a>
            <hr>
        </li>
        <li class="house">
            <a href="/administrator/house">
                <span><img src="/img/stay_icon.png">숙소 관리</span>
            </a>
            <hr>
        </li>
        <li class="reservation">
            <a href="/administrator/reservation">
                <span><img src="/img/reserve_icon.png">예약 내역 관리</span>
            </a>
            <hr>
        </li>
        <li class="member">
            <a href="/administrator/member">
                <span><img src="/img/member_icon.png">회원 관리</span>
            </a>
            <hr>
        </li>
        <li class="notice">
            <a href="/administrator/notice">
                <span><img src="/img/notice_icon.png">공지사항 관리</span>
            </a>
            <hr>
        </li>
        <li class="inquiry">
            <a href="/administrator/inquiry">
                <span><img src="/img/inquiry_icon.png">문의사항 관리</span>
            </a>
        </li>
    </ul>
</nav>
</body>
</html>