.rent-header {
    margin-bottom: 0.75em;
}

.rent-header > h2 {
    color: #161616;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.rent-slide {
    position: relative;
}

.rent-slide .arrow {
    position: absolute;
    top: -3.125rem;
    right: 0;
}

.arrow > button {
    display: inline-block;
    min-height: 2.25rem;
    border: 0;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -ms-user-select: none;
    user-select: none;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    text-transform: none;
    overflow: visible;
    cursor: pointer;
    width: 2.25rem;
    height: 2.25rem;
    margin-left: 0.5rem;
    padding: 0;
    background-color: #e0e3e5;
    color: #161616;
}

.prev:disabled {
    color: rgba(0, 0, 0, .2);
    -webkit-appearance: button;
    cursor: not-allowed;
}

.next:disabled {
    color: rgba(0, 0, 0, .2);
    -webkit-appearance: button;
    cursor: not-allowed;
}

svg {
    fill: currentcolor;
}

svg:not(:root) {
    overflow: hidden;
}

.rent-body {
    display: flex;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
    overflow: hidden;
}

.card {
    position: relative;
    display: block;
    background-color: #fff;
    color: #161616;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(37, 32, 31, .3);
    border-radius: 0.75rem;
    height: 100%;
}

.card:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    transition: opacity .2s ease-in-out;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 4px 14px 0 rgba(37, 32, 31, .25);
    border-radius: 0.75rem;
}

.card .img-box {
    border-radius: 0.5rem 0.5rem 0 0;
    overflow: hidden;
    color: #161616;
    cursor: pointer;
}

.img-box .img {
    background-color: transparent;
    opacity: 1;
    position: relative;
    display: block;
    max-width: 100%;
    transition: background-color .4s ease-in-out;
    /*background-color: #e0e3e5;*/
    overflow: hidden;
    transition-delay: .4s;
}

.img > img {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    transition: opacity .4s ease-in-out;
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 100%;
}

.content-box {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: flex-start;
}

.left-section {
    text-align: start;
    white-space: normal;
}

.left-section > h3 {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
    display: block;
    margin: 0;
}

.left-section .caption {
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 400;
    margin: 0;
    color: #545860;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

b {
    font-weight: bolder;
}

.right-section {
    flex: auto;
    text-align: end;
    margin-inline-start: 0.5rem;
}

.price {
    display: flex;
    flex-direction: column;
    color: #545860;
    align-items: flex-end;
}

.leading-right .text {
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 400;
    margin: 0;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.column-container .head-text {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 700;
}

.column-container .text {
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 400;
    margin: 0;
}

.car-container {
    margin-bottom: 6rem;
}

#indicativeDeals {
    margin-bottom: 1.5rem;
}

#indicativeDeals .header {
    color: #161616;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.deals-list {
    display: flex;
    margin-right: -1rem;
    flex-flow: row wrap;
    align-items: flex-start;
}

.deals-list .panel {
    width: 33.3%;
    display: flex !important;
    margin-bottom: 1.5rem;
    padding-right: 1rem;
}

.deal-card {
    width: 100%;
}

.card-item {
    display: flex !important;
    height: 11.75rem;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
    background-color: #fff;
    color: #161616;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(37, 32, 31, .3);
    border-radius: 0.75rem;
}

.card-item:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    transition: opacity .2s ease-in-out;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 4px 14px 0 rgba(37, 32, 31, .25);
    border-radius: 0.75rem;
}

.car-model {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.seater {
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: 1rem !important;
    color: #545860;
}

.capacity-main {
    position: absolute;
    bottom: 1rem;
    display: flex;
    min-width: 6.8125rem;
    flex-direction: row;
    justify-content: space-between;
}

.capacity-item {
    display: flex;
    padding-right: 0.75rem;
    flex-direction: column;
    align-items: center;
}

.capacity-icon > svg {
    display: flex;
    width: 2.375rem;
    height: 2.375rem;
    margin-bottom: 0.375rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #0062e3;
    text-align: center;
    fill: #fff;
}

.capacity-item .text {
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 400;
    margin: 0;
}

.price-text {
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 400;
    margin: 0;
}

.price-text .price {
    font-size: 1rem;
    font-weight: 700;
}

.panel-img {
    width: 8.5rem;
    height: 5.625rem;
    margin-top: 0.5625rem;
    margin-left: auto;
}

.car-img {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    transition: opacity .4s ease-in-out;
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.card-item .right-section {
    text-align: end;
}

.content-border {
    border-top-color: rgb(221, 221, 221);
    border-top-width: 1px;
    border-top-style: solid;
}

.car-location {
    color: rgb(34, 34, 34);
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 8px;
}

.car-location > h2 {
    color: inherit;
    font-size: 1em;
    font-weight: inherit;
    line-height: inherit;
}

.route-statistics > h2 {
    color: #161616;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
}

.route-statistics > h3 {
    margin-top: 0.5rem;
    margin-bottom: -1rem;
    color: #161616;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    /*margin: 0;*/
}

.snippets {
    display: block;
    box-shadow: none;
    width: 100%;
    margin-bottom: 0.5rem;
    border-collapse: collapse;
    table-layout: fixed;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}

.snippets > tbody {
    display: flex;
    margin: 0 -0.75rem;
    flex-flow: row wrap;
    flex-direction: row;
    vertical-align: middle;
    border-color: inherit;
    border-collapse: collapse;
    padding-bottom: 24px;
}

tbody > tr {
    width: 33.3%;
    margin-top: 2.5rem;
    padding: 0 0.75rem;
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.rent-th {
    max-width: 75%;
    display: block;
    padding: 0;
    background-color: #fff;
    text-align: left;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
}

.rent-th > span {
    line-height: 1.5rem;
    display: inline-block;
    margin-top: 0rem;
    vertical-align: top;
    text-align: left;
    font-size: 1rem;
    font-weight: 700;
}

.rent-th > h3 {
    margin-bottom: 0.25rem;
    color: #161616;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}

.rent-tbody > tr > td {
    max-width: 75%;
    display: block;
    padding: 0;
    background-color: #fff;
    vertical-align: inherit;
}

.snippet-link {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 700;
    padding: 0;
    border: 0;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    appearance: none;
    color: #0062e3;
}

.snippet-link > span {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    color: #0062e3;
}