body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: rgb(34, 34, 34);
    background-color: rgb(255, 255, 255);
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    height: 100vh;

}
#root > a{ 
    text-decoration: none !important;
    color: #000 !important;
}
hr{
    border: 0;
    border-bottom: 1px solid #dddddd;
}
#content-box{
    display: flex;
    justify-content: center

}
#content-box-main {
    width: 1000px;
}

li {
    height: 50px;
    list-style: none;
}

li > a{
    color: #000 !important;
}

#head-boot{
    height: 100px;
}

.question-list>li>a{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}