@charset "UTF-8";

.header-wrapper {
    margin: 0 auto;
    height: 80px;
    max-width: 1440px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    white-space: nowrap;
}

.content-wrap {
    margin: 2%;
}

.map-container {
    margin: 2%;
}

.title-box {
    margin-left: auto;
    margin-right: auto;
    max-width: 1120px;
}

.title-under {
    -webkit-box-pack: justify;
    -webkit-box-align: end;
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
}

.review-under {
    -webkit-box-align: center;
    margin-top: 4px;
    align-items: center;
    display: inline-flex;
}

.review-btn-count {
    border-width: 1px;
    border-style: solid;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 24px;
    transition: box-shadow 0.2s cubic-bezier(0.2, 0, 0, 1), transform 0.1s cubic-bezier(0.2, 0, 0, 1);
    background: transparent;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    text-align: inherit;
}

.review-count {
    color: rgb(34, 34, 34);
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding-left: 4px;
    font-weight: 600;
    text-decoration-line: underline;
}

.review-location {
    border-width: 1px;
    border-style: solid;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 24px;
    transition: box-shadow 0.2s cubic-bezier(0.2, 0, 0, 1), transform 0.1s cubic-bezier(0.2, 0, 0, 1);
    background: transparent;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    text-align: inherit;
}

.img-wrap {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    border: 0;
    padding: 0;
    margin: 8px;
}

.detail-container {
    display: flex;
}

.room-description {
    color: rgb(34, 34, 34);
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 8px;
}

.room-description > h2 {
    color: inherit;
    font-size: 1em;
    font-weight: inherit;
    line-height: inherit;
}
ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.room-info {
    margin: 0;
    padding: 0;
}

.room-info > li {
    display: inline-block;
}