<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>공지사항</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="stylesheet" href="/css/announcement/announcement_list.css ">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
  <header th:replace="~{/layout/header :: header}"></header>
    <div id="content-box">
      <div id="content-box-main" class="d-flex justify-content-center mt-5 mb-5">
        <div id="center-box">
          <div>
            <a href="/">
              <span class="route">홈</span>
            </a>
            >
            <span class="route">공지사항</span>
          </div>
          <div class="mt-5 mb-5">
              <h3><strong>공지사항</strong></h3>
              <hr>
              <ul>
                <th:block th:if="page.content.size != 0" th:each="notice:${page.content}">
                  <li class=" d-flex align-items-center justify-content-between" >
                    <a href="#" th:text="${notice.announcementTitle}">공지사항2</a>
                  </li>
                  <li class="d-flex align-items-center" style="color: rgba(0,0,0,0.38)" th:text="${notice.createdDate.toString().split('T')[0]}"></li>
                  <hr>
                </th:block>
              </ul>
              <div class="d-flex justify-content-center" th:with="
                  nowPage = ${page.number + 1},
                  pageSize = ${page.size},
                  totalPages = ${page.totalPages},
                  endPage = ${((nowPage - 1) / pageSize + 1) * pageSize},
                  startPage = ${endPage - pageSize + 1},
                  realEndPage = ${endPage < totalPages ? endPage : totalPages},
                  first = ${page.first}, last = ${page.last}
              ">
                <a th:if="${!first}" th:href="@{/announcement/announcement_list(page=${nowPage - 2})}" class="btn" style="background-color:#BB84E8; color:white;">이전</a>
                <th:block th:each="pageNum : ${#numbers.sequence(startPage, realEndPage)}">
                  <a th:if="${nowPage != pageNum}" th:href="@{/announcement/announcement_list(page=${pageNum - 1})}" class="btn" style="color: black;" th:text="${pageNum}"></a>
                  <span th:unless="${nowPage != pageNum}" th:text="${pageNum}" class="btn" style="font-weight: 600;cursor: default;"></span>
                </th:block>
                <a th:if="${!last}" th:href="@{/announcement/announcement_list(page=${nowPage})}" class="btn" style="background-color:#BB84E8; color:white">다음</a>
              </div>
          </div>
        </div>
        <div class="book ml-5">
          <div class="m-3">
            예약, 계정 등과 관련해 도움을 받으세요
          </div>
          <a href="#" class="m-3 btn login_btn">로그인 또는 회원 가입</a>
        </div>
      </div>
      <div th:replace="~{/layout/top-btn :: top-btn}"></div>
  </div>
  <footer th:replace="~{/layout/footer :: footer}"></footer>
  </body>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="/js/layout/top-btn.js"></script>
</html>