* {
    box-sizing: border-box;
}

body {
    line-break: strict;
}

a {
    text-decoration: none;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 100;
    box-sizing: border-box;
    border-bottom: 1px solid #DDDD
}

.header-wrap-after {
    animation: after-header-wrap .3s;
    height: 160px;
}

.header-wrap-before {
    animation: before-header-wrap .3s;
    height: 80px;
}

@keyframes after-header-wrap {
    from {
        height: 80px;
    }
    to {
        height: 160px;
    }
}

@keyframes before-header-wrap {
    from {
        height: 160px;
    }
    to {
        height: 80px;
    }
}

header.after {
    transition: transform 250ms cubic-bezier(0.2, 0, 0, 1);
    box-shadow: none;
    z-index: 100;
    background: #FFFFFF;
}

.logo-wrap {
    flex: 0 0 auto;
}

.logo-wrap a {
    outline: none;
    align-items: center;
    display: inline-flex;
    height: 80px;
    position: relative;
    vertical-align: middle;
    z-index: 1;
    color: #BB84E8;
}

.logo1 {
    display: none;
}

.logo2 {
    display: block;
}

.search-box-wrap {
    flex: 0 1 auto;
    min-width: 348px;
    padding: 0 24px;


}

.search-box-div {
    transition: transform 250ms ease, opacity 100ms ease, visibility 0ms 50ms;

    transform: scale(1, 1) translateY(0);

    text-align: left;

    display: inline-block;
    vertical-align: middle;

    box-sizing: border-box;

    width: 100%;

    /*min-width: 80px;*/
    /*align-items: center;*/
    /*color: #222222;*/
    /*max-width: 100%;*/
    /*vertical-align: middle;*/
}

.search-box-btn-wrap {
    text-align: center;

    background: #ffffff;
    border: 1px solid #DDDDDD;
    border-radius: 40px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.2s cubic-bezier(0.2, 0, 0, 1);

    align-items: center;
    display: inline-flex;
    max-width: 100%;
    vertical-align: middle;


}

.partition {
    flex: 0 0 1px;
    height: 24px;
    width: 1px;
    background-color: #DDDDDD;
    box-sizing: border-box;
}

.search-box-btn {
    background: transparent;
    cursor: pointer;
    padding: 0;
    text-align: inherit;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: -1px;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    color: inherit;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    -webkit-text-decoration: none;
    align-items: center;
    display: flex;
    z-index: 1;
}

.search-box-btn-txt {
    padding: 0 16px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1 1 auto;
    min-width: 80px
}

.search-icon {
    border-radius: 50%;
    padding: 10px;
    margin: 7px 7px 7px 0;
    background-color: #BB84E8;
    cursor: pointer;
}

.search-icon svg {
    color: #FFFFFF;
    cursor: pointer;
    text-align: inherit;
    height: 32px;
    width: 32px;
}

.search-detail-box {
    transition: transform 250ms ease, opacity 200ms ease 100ms, visibility 0ms 200ms;
    left: 0;
    text-align: left;

    z-index: 2;
    position: absolute;
    width: 100%;

    box-sizing: border-box;
}

.search-detail-box-before {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    will-change: transform, opacity;
}

.search-detail-box-sub {
    padding-bottom: 16px;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}

.search-form-wrap form {
    margin: 0 auto;
    max-width: 850px;
    box-sizing: border-box;
}

.search-form-wrap {
    display: contents;
    background: #EBEBEB;
    /* --query-input_flex: 1.25 0 0%;
    --input-with-search-button_flex: 1 0 0%;
    --split-date-input_flex: 1 0 0%; */
}

.search-detail-btn-wrap {
    cursor: pointer;
    text-align: center;
    color: #222222;
    pointer-events: auto;
    position: relative;
    z-index: 0;
    display: inline-block;
    outline: none;
    box-sizing: border-box;
}

.search-detail-btn-wrap button {
    transition: box-shadow 0.2s ease, transform 0.1s ease;
    background: transparent;
    border: none;
    border-width: 0;
    border-style: none;
    margin: 0;
    padding: 0;
    text-align: inherit;
    border-radius: 8px;
    cursor: pointer;
    color: inherit;
    display: block;
    text-decoration: none;
    height: 100%;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    outline: none;
    position: relative;
}

.search-detail-btn-wrap button div {
    margin: 10px 16px;
    position: relative;
}

.search-detail-btn-txt {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.search-detail-btn-txt::after {
    transform: scaleX(1);
    background-color: currentcolor;
    inset-inline: 0;
    transition: cubic-bezier(0.2, 0, 0, 1);
    content: '';
    height: 2px;
    position: absolute;
    top: calc(100% + 8px);
    width: 100%;
}

.search-detail-wrap {
    border: 1px solid #DDDDDD;
    border-radius: 32px;
    background-color: #EBEBEB;
    color: #222222;
    display: flex;
    height: 66px;
    position: relative;
    width: 100%;
    outline: none;
}

.partition-div {
    border-right: 1px solid #DDDDDD;
    align-self: center;
    flex: 0 0 0;
    height: 32px;
    box-sizing: border-box;
}

.search-where-wrap {
    min-width: 0;
}

.search-when-wrap {
    /*flex: var(--input_flex,1 0 0%);*/
    margin: -1px;
    display: flex;
    align-items: center;
    min-width: 0;
    position: relative;
    /*width: 100%;*/
    /*--big-search-input-button_width: 100%;*/
}

.search-when-div {
    text-align: left;

    background: transparent;
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 1px;

    z-index: 3;

    appearance: none;
    overflow: visible;
    text-decoration: none;
}

.search-title-wrap {
    padding: 14px 24px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    width: 100%;
    z-index: 1;
    border-radius: 32px;
}

.search-title {
    padding-bottom: 2px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 800;
    letter-spacing: 0.04em;
}


.search-where-wrap label {
    cursor: pointer;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 32px;
    padding: 14px 32px;
    z-index: 3;
    display: block;
    flex: 1 0 0%;
    min-width: 0;
}

.search-where-lebel {
    margin: -1px;
    position: relative;
    align-items: center;
    display: flex;
    flex: 1 0 0%;
    min-width: 0;
}

.search-where-lebel:has(.search-active[data-select='true']) ~ .choose-wrap {
    visibility: visible;
}

.search-input {
    border: 0;
    margin: 0;
    padding: 0;
    background: none;
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: #222222;
    text-overflow: ellipsis;
    outline: none;
}

.search-input:focus {
    outline: none;
}

.search-active::after {
    background-color: #FFFFFF;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    left: 0;
    right: 0;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 32px;
}

*[data-select="true"] {
    background: #ffffff;
    box-shadow: 0px 0px 20px lightgray;
    border-radius: 32px;
}

.search-active:not([data-select='true']):hover, .search-title-wrap:not([data-select='true']):hover {
    background: #dddddd;
}

.search-people-wrap {
    flex: 1 0 0%;
    display: flex;
}

.search-people-txt-wrap {
    margin: -1px;
    flex: 1 0 0%;
    align-items: center;
    display: flex;
    min-width: 0;
    position: relative;
    width: 100%;
}

.search-btn-wrap {
    margin-left: -6px;
    padding-right: 9px;
    flex: 0 0 auto;
    position: relative;
    z-index: 5;
}

.search-btn-wrap button {
    background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border-radius: 24px;
    outline: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    line-height: 16px;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    z-index: 0;
}

.search-btn-wrap button span {
    display: block;
    position: relative;
    pointer-events: none;
}

.search-btn {
    padding: 16px;
    display: inline-flex;
    position: relative;
    z-index: 1;
}

.header-profile-wrap {
    flex: 1 0 auto;
}

.header-profile-wrap nav {
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    position: relative !important;
    display: flex !important;
    align-items: center !important;
    justify-content: flex-end !important;
    height: 80px !important;
}

.host-mode {
    flex: auto !important;
    justify-content: flex-end !important;
    margin-right: 8px !important;
}

.host-mode a {
    text-align: inherit;
    padding: 12px;
    transition: color 250ms ease;
    color: inherit;
    /* display: inline-block; */
    font-family: inherit;
    text-decoration: none;
    user-select: auto;
    outline: none;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    position: relative;
    white-space: nowrap;
    z-index: 1;
}

.host-mode a::before {
    border-radius: 22px;
    left: -3px;
    right: -3px;
    bottom: 0;
    content: '';
    position: absolute;
    top: 0;
    z-index: 0;
}

.host-mode a div {
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    z-index: 1;
}

.header-profile {
    position: relative;
    z-index: 150;
}

.header-profile button {
    padding: 5px 5px 5px 12px;
    background: transparent;
    cursor: pointer;
    margin: 0;
    text-align: inherit;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 21px;
    transition: box-shadow 0.2s cubic-bezier(0.2, 0, 0, 1);
    appearance: none;
    user-select: auto;
    outline: none;
    align-items: center;
    color: #222222;
    display: inline-flex;
    height: 42px;
    position: relative;
    vertical-align: middle;
    z-index: 1;
}

.header-profile button:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
}

.header-profile-icon {
    margin-left: 12px;
    color: #717171;
    flex: 0 0 30px;
    height: 30px;
    overflow: hidden;
    position: relative;
    width: 30px;
    z-index: 1;
}
.header-profile-icon > img{
    width: 29px;
    height: 29px;
    border-radius: 50%;
}

/*@supports (overflow-clip-margin:1px) and (selector(:has([data-profile-menu])*/

/*)) {*/
/*    header {*/
/*        !* contain: strict; *!*/
/*        overflow-clip-margin: 4px;*/
/*    }*/
/*}*/

@media (min-width: 744px) {
    header {
        padding-inline: 40px;
        /* padding-block-start: 20px; */
    }

    .search-detail-box {
        padding-left: 40px;
        padding-right: 40px;
    }

    .host-mode {
        display: none;
    }
}

@media (min-width: 950px) {
    .host-mode {
        display: none;
    }

    .logo-wrap {
        flex: 1 0 140px;
    }

    .search-box-wrap {
        text-align: center;
    }

    .search-box-div {
        transform-origin: 50% 0%;
        margin: 0 auto;
    }

    .search-where-wrap {
        flex: 1.25 0 0%;
    }

    @keyframes search-box-wrap_back {
        0% {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }

        to {
            opacity: 1;
            transform: translateZ(0);
        }
    }

    .search-detail-box {
        /*transform: scale(0.35,0.7272727272727273) translateY(-58px);*/

        transform-origin: 50% 0%;
        top: 0;
    }

    .header-profile-wrap {
        flex: 1 0 140px;
    }

    .search-detail-btn-wrap {
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
    }
}

@media (min-width: 1128px) {
    header {
        padding-inline: 40px;
    }

    .host-mode {
        display: flex;
    }

    .logo1 {
        display: block;
    }

    .logo2 {
        display: none;
    }

    .search-detail-btn-wrap {
        padding: 0;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
    }
}

@media (min-width: 1440px) {
    header {
        padding-inline: 80px;
    }

    .search-detail-box {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@keyframes slideEnter {
    0% {
        opacity: 0;
        transform: none;
    }

    100% {
        opacity: 1;
        transform: translate(0, 100);
    }
}

@keyframes slideOut {
    0% {
        opacity: 1;
        transform: translate(0, 100);
    }

    100% {
        opacity: 0;
        transform: none;
    }
}

.back {
    background-color: rgba(0, 0, 0, 0.25);
    bottom: 0;
    position: fixed;
    top: 0;
    z-index: 99;
    height: 100vh;
    width: 100vw;
}

.choose-wrap {
    z-index: 4;
    padding: 16px 0;
    background-color: #FFFFFF;
    border-radius: 32px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.15);
    margin-top: 12px;
    visibility: hidden;
}

.choose-wrap table {
    padding-inline: 16px;
    padding-block: 16px;
    max-width: 848px;
    width: 100%;
    text-align: center;
    line-height: 65px;
    font-size: 15px;
    font-weight: 600;
}

.choose-wrap table td:hover {
    border-radius: 25px;
    background: #dddddd;
    cursor: pointer;
}

.delete-input-wrap {
    flex: 0 0 0%;
    position: relative;
    z-index: 5;
}

.delete-input-wrap > div {
    right: 24px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
}

.delete-input-wrap > div > button {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 0;
    visibility: hidden;
}

label.search-active[data-select="true"] ~ .delete-input-wrap > div > button {
    visibility: visible;
}

.search-when-div:has(.search-title-wrap[data-select="true"]) + .delete-input-wrap > div > button {
    visibility: visible;
}

.search-people-txt-wrap:has(.search-title-wrap[data-select="true"]) .delete-input-wrap > div > button {
    visibility: visible;
}

.search-people-txt-wrap:has(.search-title-wrap[data-select="true"]) + .choose-wrap {
    visibility: visible;
}

.checkin, .checkout {
    width: 150px;
}

.count-wrap{
    border-bottom: 1px solid #EBEBEB;
    padding-right: 4px;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #222222;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.count-text{
    line-height: 20px;
    font-size: 16px;
    font-weight: 600;
    padding-block-end: 0;
    margin-left: 10px;
}
.count-text h2{
    font-size: 1.1em;
    display: block;
}

.count-btn-wrap{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 104px;
    height: 32px;
    color: #222222;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.count{
    border-color: #EBEBEB;
    background: #FFFFFF;
    margin: 0;
    padding: 0;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #717171;
    outline: none;
}
.count:hover{
    color: black;
    border-color: black;
}

.count span{
    /*height: 22px;*/
    /*width: 22px;*/
    /*padding: 5px*/
}

#headerProfileMenu{
    margin-top: 34px;
    padding: 18px 0;
    position: absolute;
    z-index: 150;
    border-radius: 22px;
    box-shadow: 0 0 10px rgba(0,0,0,0.18);
    top: 34px;
    width: 150px;
    right: 0;
    background: #ffffff;
}
#headerProfileMenu a{
    text-decoration: none;
    font-size: 16px;
}
#headerProfileMenu a div{
    background: #FFFFFF;
    padding: 8px 16px;
}
#headerProfileMenu a:hover div{
    background: #F7F7F7;
}

#headerProfileMenu a div{
    color: #222222;
}