/* login.html */

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

label{
    cursor: default;
}

body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: rgb(34, 34, 34);
    background-color: rgb(255, 255, 255);
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    line-break: strict;
    word-break: keep-all;
}

div {
    display: block;
}

.wrapper{
    --page-shell-max-content-width: 1440px !important;
}

.footer-wrapper::before{
    display: flex;
    content: '';
}

.footer-wrapper::after{
    display: flex;
    content: '';
}

.content-wrapper{
    position: relative !important;
    min-height: 100dvh !important;
}

.header-wrapper{
    display: block !important;
}

main{
    display: block;
}

.main-wrapper{
    display: block !important;
}

.box-wrapper{
    -webkit-box-pack: center !important;
    display: flex !important;
    justify-content: center !important;
    padding: 40px !important;
}

.panel{
    z-index: 0 !important;
    left: 0px !important;
    right: 0px !important;
    top: 24px !important;
    bottom: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    background-color: #FFFFFF !important;
    box-sizing: border-box !important;
    border: 1px solid #B0B0B0 !important;
    border-radius: 12px !important;
    position: relative !important;
    max-width: 568px !important;
    width: 100% !important;
    margin-top: 32px !important;
    margin-bottom: 32px !important;
    overflow: visible !important;
}

.panel-header{
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    display: flex !important;
    flex: 0 0 auto !important;
    align-items: center !important;
    justify-content: space-between !important;
    border-bottom: 1px solid #EBEBEB !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
    color: #222222 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: 800 !important;
    min-height: 64px !important;
}

.prev{
    -webkit-box-flex: 0 !important;
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
    flex-basis: 16px !important;
}

.panel-title{
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: 1em;
    font-weight: inherit;
    line-height: inherit;
}

.panel-title-div{
    -webkit-box-flex: 0 !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    text-align: center !important;
    margin-left: 16px !important;
    margin-right: 16px !important;
}

.panel-main{
    padding: 32px !important;
}

input:not([type="range"]):not([type="color"]) {
    writing-mode: horizontal-tb !important;
}

input {
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.button-wrapper{
    margin-top: 24px !important;
    margin-bottom: 24px !important;
}

.continue-button{
    display: inline-block;
    position: relative;
    text-decoration: none;
    touch-action: manipulation;
    font-family: 'Circular',-apple-system,'BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    color: #FFFFFF;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 24px;
    transition: box-shadow 0.2s cubic-bezier(0.2,0,0,1),transform 0.1s cubic-bezier(0.2,0,0,1);
    border: none;
    background: linear-gradient(to right,#E61E4D 0%,#E31C5F 50%,#D70466 100%);
    width: 100%;
}

button {
    appearance: auto;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

button-main-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* -webkit-mask-image: -webkit-radial-gradient(white,black); */
    left: 0;
    right: 0;
    border-radius: 8px;
}

.button-main{
    display: block;
    width: 100%;
    height: 100%;
    min-width: 200px;
    opacity: 0;
    background-size: 200% 200%;
    transition: opacity 1.25s;
    background-image: radial-gradient( circle at center,#FF385C 0%,#e61e4d 27.5%,#e31c5f 40%,#d70466 57.5%,#bd1e59 75%,#bd1e59 100% );
}

.button-content{
    display: block;
    position: relative;
    pointer-events: none;
}

form {
    display: block;
    margin-top: 0em;
}

.name-all-wrapper{
    background-color: #FFFFFF;
    position: relative;
}

.name-sub-wrapper{
    display: flex;
}

.name-sub{
    position: relative;
    width: 100%;
    flex: 1;
}

.border-wrapper-up{
    border-style: solid;
    position: absolute;
    pointer-events: none;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-right-color: #B0B0B0;
    border-left-color: #B0B0B0;
    border-top-color: #B0B0B0;
    border-bottom-color: #B0B0B0;
    border-width: 1px;
}

.border-wrapper-down{
    border-style: solid;
    position: absolute;
    pointer-events: none;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right-color: #B0B0B0;
    border-left-color: #B0B0B0;
    border-top-color: #B0B0B0;
    border-bottom-color: #B0B0B0;
    border-width: 1px;
    border-top: 0px;
}

.border-wrapper-active{
    border: 0px !important;
}

/* 이름 */
.name-wrapper{
    position: relative !important;
    cursor: text !important;
    display: flex !important;
    min-height: 56px !important;
    width: 100% !important;
    margin: 0px !important;
    border: none !important;
    color: #222222 !important;
    background-color: #FFFFFF !important;
    border-radius: 8px !important;
    box-shadow: none;
    font-family: 'Circular',-apple-system,'BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif !important;
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: 400 !important;
}

.name-wrapper-label{
    position: relative !important;
    flex: 1 1 0% !important;
    padding: 0px !important;
}

.name-write{
    transform-origin: 0% 0%;
    left: 12px;
    right: 12px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    transition: transform 0.15s cubic-bezier(0.455,0.03,0.515,0.955);
    position: absolute;
    top: 18px;
    pointer-events: none;
    font-family: 'Circular',-apple-system,'BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #717171;
}

.name-input-wrapper{
    display: flex !important;
    opacity: 0 !important;
}

.name-input{
    width: 100% !important;
    border: none !important;
    outline: none !important;
    padding: 0px !important;
    margin: 26px 12px 6px !important;
    color: inherit !important;
    background-color: transparent !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    appearance: none !important;
}

.name-wrapper-active{
    box-shadow: inset 0 0 0 2px #222222 !important;
    outline: none;
}

.name-write-active{
    transform: translateY(-8px) scale(0.75);
}

.name-input-wrapper-active{
    opacity: 1 !important;
}

/* 메세지들 */
.message-wrapper{
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.message{
    display: flex;
    color: #717171;
    font-size: 12px;
    line-height: 16px;
    font-family: 'Circular',-apple-system,'BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
    font-weight: 400;
}

/* 생일 */
.birth-all-wrapper{
    margin-top: 24px !important;
    margin-bottom: 24px !important;
    transform: translateZ(0px) !important;
}

.birth-wrapper{
    position: relative !important;
    cursor: text !important;
    display: flex !important;
    min-height: 56px !important;
    width: 100% !important;
    margin: 0px !important;
    border: none !important;
    color: #222222 !important;
    background-color: #FFFFFF !important;
    border-radius: 8px !important;
    box-shadow: inset 0 0 0 1px #B0B0B0 !important;
    font-family: 'Circular',-apple-system,'BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif !important;
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: 400 !important;
}

.birth-wrapper-label{
    position: relative !important;
    flex: 1 1 0% !important;
    padding: 0px !important;
}

.birth-write{
    transform-origin: 0% 0%;
    left: 12px;
    right: 12px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    transition: transform 0.15s cubic-bezier(0.455,0.03,0.515,0.955);
    position: absolute;
    top: 18px;
    pointer-events: none;
    font-family: 'Circular',-apple-system,'BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #717171;
}

.birth-input-wrapper{
    display: flex !important;
    opacity: 0 !important;
}

.birth-input{
    width: 100% !important;
    border: none !important;
    outline: none !important;
    padding: 0px !important;
    margin: 26px 12px 6px !important;
    color: inherit !important;
    background-color: transparent !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    appearance: none !important;
}

.birth-wrapper-active{
    box-shadow: inset 0 0 0 2px #222222 !important;
    outline: none;
}

.birth-write-active{
    transform: translateY(-8px) scale(0.75);
}

.birth-input-wrapper-active{
    opacity: 1 !important;
}


/* 이메일 */
.email-wrapper{
    position: relative !important;
    cursor: text !important;
    display: flex !important;
    min-height: 56px !important;
    width: 100% !important;
    margin: 0px !important;
    border: none !important;
    color: #222222 !important;
    background-color: #FFFFFF !important;
    border-radius: 8px !important;
    box-shadow: inset 0 0 0 1px #B0B0B0 !important;
    font-family: 'Circular',-apple-system,'BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif !important;
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: 400 !important;
}

.email-wrapper-label{
    position: relative !important;
    flex: 1 1 0% !important;
    padding: 0px !important;
}

.email-write{
    transform-origin: 0% 0%;
    left: 12px;
    right: 12px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    transition: transform 0.15s cubic-bezier(0.455,0.03,0.515,0.955);
    position: absolute;
    top: 18px;
    pointer-events: none;
    font-family: 'Circular',-apple-system,'BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #717171;
}

.email-input-wrapper{
    display: flex !important;
    opacity: 0 !important;
}

.email-input{
    width: 100% !important;
    border: none !important;
    outline: none !important;
    padding: 0px !important;
    margin: 26px 12px 6px !important;
    color: inherit !important;
    background-color: transparent !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    appearance: none !important;
}

.email-wrapper-active{
    box-shadow: inset 0 0 0 2px #222222 !important;
    outline: none;
}

.email-write-active{
    transform: translateY(-8px) scale(0.75);
}

.email-input-wrapper-active{
    opacity: 1 !important;
}

/* 선 */
.line{
    margin-top: 24px !important;
    margin-bottom: 24px !important;
    border-bottom: 1px solid rgb(235, 235, 235) !important;
}

/* 개인정보수집동의 */
.info-message-all{
    margin-left: -24px !important;
    margin-right: -24px !important;
}

.info-wrapper{
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 1px;
    padding-left: 24px;
    padding-right: 24px;
}

.info-label{
    cursor: pointer;
}

.info-box{
    display: flex;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
    width: 100%;
}

.info-content-wrapper{
    cursor: inherit;
    color: #222222;
    font-family: 'Circular',-apple-system,'BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.info-title{
    font-size: 12px !important;
    line-height: 16px !important;
    color: rgb(34, 34, 34) !important;
    margin-bottom: 4px !important;
}

.info-content{
    font-size: 12px !important;
    line-height: 16px !important;
    color: rgb(113, 113, 113) !important;
}


/* 체크 박스 */
.checkbox-wrapper{
    margin-left: 16px;
}

.checkbox-span{
    cursor: pointer;
    padding: 0;
    position: relative;
    display: inline-block;
}

.checkbox{
    border: 0;
    padding: 0;
    margin: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    overflow: clip;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    clip: unset;
    clip-path: unset;
    opacity: 0;
    outline: none;
}

.checkbox-inside{
    border-width: 1px;
    border-style: solid;
    text-align: center;
    border-radius: 4px;
    border-color: #B0B0B0;
    background: #FFFFFF;
    display: inline-block;
    height: 24px;
    width: 24px;
    overflow: hidden;
    vertical-align: top;
}

.checkbox-inside:hover{
    border-color: #222222;
}

.checkbox-inside-active{
    border-color: #000000;
    background: #000000;
}

.checkbox-active{
    margin-left: 3px;
    margin-top: 2px;
    width: 100%;
    height: 100%;
    display: block;
    color: #FFFFFF;
}

.info-button{
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    transition: box-shadow 0.2s cubic-bezier(0.2,0,0,1),transform 0.1s cubic-bezier(0.2,0,0,1);
    border: none;
    background: transparent;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    margin: 0;
    text-align: center;
    font-family: 'Circular',-apple-system,'BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    outline: none;
    color: #222222;
    text-decoration: underline;
    contain: paint;
}

.more-info{
    font-size: 12px !important;
    line-height: 16px !important;
    color: rgb(34, 34, 34) !important;
    font-weight: 600 !important;
    text-decoration: underline !important;
}

.link{
    font-size: inherit !important;
    font-family: inherit !important;
    font-style: inherit !important;
    font-variant: inherit !important;
    line-height: inherit !important;
    color: rgb(0, 76, 196) !important;
    text-decoration: underline !important;
    border-radius: 4px !important;
    font-weight: 600 !important;
    outline: none !important;
}