<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/diary/diary.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <title>일기장 목록</title>

</head>
<body>
<div th:replace="~{/layout/diary-header :: diary-header}"></div>
    <main>
        <div id="content-box" class="d-flex justify-content-center">
            <div id="content-box-main" class="content">
                <section id="diary-main-container">
                    <div class="subtitle flex">
                        <h2 tabindex="-1">아웃서울 이용자들의 생생한 이용기록을 바로 만나보세요</h2>
                    </div>
                    <nav class="category-nav">
                        <div class="category-nav-wrapper flex">
                            <div class="nav-tabs selected">최신순</div>
                            <div class="nav-tabs">인기순</div>
<!--                            <div class="nav-tabs">카테고리3</div>-->
<!--                            <div class="nav-tabs">카테고리4</div>-->
                        </div>
                        <div class="slight-divider"></div>
                    </nav>
                    <div class="content-wrap">
                        <div class="diary-grid">
                            <!-- -->
                            <!-- -->
<!--                            <a href="/diary/article/1" class="diary-article">-->
<!--                                <div class="img-wrap">-->
<!--                                    <div class="diary-img" style="&#45;&#45;dls-liteimage-height: 254px; &#45;&#45;dls-liteimage-width: auto; &#45;&#45;dls-liteimage-background-image: url('data:image/png;base64,null'); &#45;&#45;dls-liteimage-background-size: cover;">-->
<!--                                        <picture>-->
<!--                                            <img src="https://images.contentstack.io/v3/assets/bltec2ed8e3c4b1e16d/bltfbcc7f32e0cd6ff5/getting-started-on-airbnb-optimized.jpg"-->
<!--                                                 style="&#45;&#45;dls-liteimage-object-fit: cover;">-->
<!--                                        </picture>-->
<!--                                        <div class="background-img" style="&#45;&#45;dls-liteimage-background-size: cover; &#45;&#45;dls-liteimage-background-image: url(https://images.contentstack.io/v3/assets/bltec2ed8e3c4b1e16d/bltfbcc7f32e0cd6ff5/getting-started-on-airbnb-optimized.jpg);"></div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="diary-title">용인 한 달 살림살이</div>-->
<!--                            </a>-->
<!--                            <a href="/diary/article/2" class="diary-article">-->
<!--                                <div class="img-wrap">-->
<!--                                    <div class="diary-img" style="&#45;&#45;dls-liteimage-height: 254px; &#45;&#45;dls-liteimage-width: auto; &#45;&#45;dls-liteimage-background-image: url('data:image/png;base64,null'); &#45;&#45;dls-liteimage-background-size: cover;">-->
<!--                                        <picture>-->
<!--                                            <img src="https://images.contentstack.io/v3/assets/bltec2ed8e3c4b1e16d/bltd4609c55daf00800/finding-a-stay-thats-right-for-you-optimized.jpg"-->
<!--                                                 style="&#45;&#45;dls-liteimage-object-fit: cover;">-->
<!--                                        </picture>-->
<!--                                        <div class="background-img" style="&#45;&#45;dls-liteimage-background-size: cover; &#45;&#45;dls-liteimage-background-image: url(https://images.contentstack.io/v3/assets/bltec2ed8e3c4b1e16d/bltd4609c55daf00800/finding-a-stay-thats-right-for-you-optimized.jpg);"></div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="diary-title">충주에서 지낸 일주일간</div>-->
<!--                            </a>-->
<!--                            <a href="/diary/article/2" class="diary-article">-->
<!--                                <div class="img-wrap">-->
<!--                                    <div class="diary-img" style="&#45;&#45;dls-liteimage-height: 254px; &#45;&#45;dls-liteimage-width: auto; &#45;&#45;dls-liteimage-background-image: url('data:image/png;base64,null'); &#45;&#45;dls-liteimage-background-size: cover;">-->
<!--                                        <picture>-->
<!--                                            <img src="https://images.contentstack.io/v3/assets/bltec2ed8e3c4b1e16d/bltd4609c55daf00800/finding-a-stay-thats-right-for-you-optimized.jpg"-->
<!--                                                 style="&#45;&#45;dls-liteimage-object-fit: cover;">-->
<!--                                        </picture>-->
<!--                                        <div class="background-img" style="&#45;&#45;dls-liteimage-background-size: cover; &#45;&#45;dls-liteimage-background-image: url(https://images.contentstack.io/v3/assets/bltec2ed8e3c4b1e16d/bltd4609c55daf00800/finding-a-stay-thats-right-for-you-optimized.jpg);"></div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="diary-title">충주에서 지낸 일주일간</div>-->
<!--                            </a>-->
<!--                            <a href="/diary/article/2" class="diary-article">-->
<!--                                <div class="img-wrap">-->
<!--                                    <div class="diary-img" style="&#45;&#45;dls-liteimage-height: 254px; &#45;&#45;dls-liteimage-width: auto; &#45;&#45;dls-liteimage-background-image: url('data:image/png;base64,null'); &#45;&#45;dls-liteimage-background-size: cover;">-->
<!--                                        <picture>-->
<!--                                            <img src="https://images.contentstack.io/v3/assets/bltec2ed8e3c4b1e16d/bltd4609c55daf00800/finding-a-stay-thats-right-for-you-optimized.jpg"-->
<!--                                                 style="&#45;&#45;dls-liteimage-object-fit: cover;">-->
<!--                                        </picture>-->
<!--                                        <div class="background-img" style="&#45;&#45;dls-liteimage-background-size: cover; &#45;&#45;dls-liteimage-background-image: url(https://images.contentstack.io/v3/assets/bltec2ed8e3c4b1e16d/bltd4609c55daf00800/finding-a-stay-thats-right-for-you-optimized.jpg);"></div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="diary-title">충주에서 지낸 일주일간</div>-->
<!--                            </a>-->
<!--                            <a href="/diary/article/2" class="diary-article">-->
<!--                                <div class="img-wrap">-->
<!--                                    <div class="diary-img" style="&#45;&#45;dls-liteimage-height: 254px; &#45;&#45;dls-liteimage-width: auto; &#45;&#45;dls-liteimage-background-image: url('data:image/png;base64,null'); &#45;&#45;dls-liteimage-background-size: cover;">-->
<!--                                        <picture>-->
<!--                                            <img src="https://images.contentstack.io/v3/assets/bltec2ed8e3c4b1e16d/bltd4609c55daf00800/finding-a-stay-thats-right-for-you-optimized.jpg"-->
<!--                                                 style="&#45;&#45;dls-liteimage-object-fit: cover;">-->
<!--                                        </picture>-->
<!--                                        <div class="background-img" style="&#45;&#45;dls-liteimage-background-size: cover; &#45;&#45;dls-liteimage-background-image: url(https://images.contentstack.io/v3/assets/bltec2ed8e3c4b1e16d/bltd4609c55daf00800/finding-a-stay-thats-right-for-you-optimized.jpg);"></div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="diary-title">충주에서 지낸 일주일간</div>-->
<!--                            </a>-->
<!--                            <a href="/diary/article/2" class="diary-article">-->
<!--                                <div class="img-wrap">-->
<!--                                    <div class="diary-img" style="&#45;&#45;dls-liteimage-height: 254px; &#45;&#45;dls-liteimage-width: auto; &#45;&#45;dls-liteimage-background-image: url('data:image/png;base64,null'); &#45;&#45;dls-liteimage-background-size: cover;">-->
<!--                                        <picture>-->
<!--                                            <img src="https://images.contentstack.io/v3/assets/bltec2ed8e3c4b1e16d/bltd4609c55daf00800/finding-a-stay-thats-right-for-you-optimized.jpg"-->
<!--                                                 style="&#45;&#45;dls-liteimage-object-fit: cover;">-->
<!--                                        </picture>-->
<!--                                        <div class="background-img" style="&#45;&#45;dls-liteimage-background-size: cover; &#45;&#45;dls-liteimage-background-image: url(https://images.contentstack.io/v3/assets/bltec2ed8e3c4b1e16d/bltd4609c55daf00800/finding-a-stay-thats-right-for-you-optimized.jpg);"></div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="diary-title">충주에서 지낸 일주일간</div>-->
<!--                            </a>-->
                            <!-- -->
                            <!-- -->
                        </div>
                    </div>

                </section>
                <div class="slight-divider last"></div>
            </div>
        </div>
    </main>
    <footer th:replace="~{/layout/footer :: footer}"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script th:inline="javascript">
    let keyword = [[${keyword}]];
</script>
<script src="/js/layout/nav-tabs.js"></script>
<script src="/js/diary/diary.js"></script>
<script src="/js/layout/diary-header.js"></script>
</html>