<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에러 페이지</title>
    <link rel="stylesheet" href="/css/error/error_page.css ">
</head>
<body>
    <div id="head-boot">nav-box</div>
    <hr>
   <div class="cnvuats">
        <div class="midle">
            <section>
                    <div class="c1voot80 dir dir-ltr">
                        <div>
                            <div class="h8i5hv0 dir dir-ltr">
                                <h1 tabindex="-1" class="hpipapi dir dir-ltr" elementtiming="LCP-target">
                                    검색하시려는 페이지를 찾을 수 없습니다
                                </h1>
                            </div>
                            <div class="d12u3ps5 dir dir-ltr">
                                다음은 도움이 될 만한 웹페이지 링크입니다.
                                <ul class="ljt9wxn dir dir-ltr">
                                    <li class="lgydpc4 dir dir-ltr">
                                        <a href="#" class="lgydpc4 dir dir-ltr">홈</a>
                                    </li>
                                </ul>
                                <ul class="ljt9wxn dir dir-ltr">
                                    <li class="lgydpc4 dir dir-ltr">
                                        <a href="#" class="lgydpc4 dir dir-ltr">에어비앤비로 여행하기</a>
                                    </li>
                                </ul>
                                <ul class="ljt9wxn dir dir-ltr">
                                    <li class="lgydpc4 dir dir-ltr">
                                        <a href="#" class="lgydpc4 dir dir-ltr">에어비앤비에서 호스팅하기</a>
                                    </li>
                                </ul>
                                <ul class="ljt9wxn dir dir-ltr">
                                    <li class="lgydpc4 dir dir-ltr">
                                        <a href="#" class="lgydpc4 dir dir-ltr">신뢰와 안전</a>
                                    </li>
                                </ul>
                                <ul class="ljt9wxn dir dir-ltr">
                                    <li class="lgydpc4 dir dir-ltr">
                                        <a href="#" class="lgydpc4 dir dir-ltr">사이트맵</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="m94tuun dir dir-ltr">
                            <div class="dqra4ro bmwtyu7 dir dir-ltr">
                            </div>
                        </div>
                    </div>
            </section>
        </div>
   </div>
</body>
</html>