<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/account/account.css">
    <link rel="stylesheet" href="/css/account/program.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <title>신청한 프로그램</title>
</head>
<body>
<div th:replace="~{/layout/header :: header}"></div>
<main>
    <div id="content-box">
        <div id="content-box-main" class="d-flex justify-content-center">
            <div class="menu-title-container">
                <nav aria-label="계정">
                    <ol style="padding: 0">
                        <li class="path">
                            <a href="/account/menu" class="path-text" aria-busy="false">계정</a>
                        </li>
                        <li class="path">
                            <div class="path">
                                <svg viewBox="0 0 18 18" role="presentation" aria-hidden="true" focusable="false"
                                     style="height: 10px; width: 10px; fill: rgb(118, 118, 118);">
                                    <path d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z" fill-rule="evenodd"></path>
                                </svg>
                            </div>
                            <span aria-current="step" class="path-text">신청한 프로그램</span>
                        </li>
                    </ol>
                </nav>
                <h1 class="menu-title">신청한 프로그램</h1>
            </div>

            <nav class="category-nav">
                <div class="category-nav-wrapper flex">
                </div>
                <div class="slight-divider"></div>
            </nav>

            <div class="account-content" th:if="${!pagination.content.isEmpty()}">

                <div class="program-wrap" th:each="reserve:${pagination.content}">
                    <div class="program-image-wrap" th:onclick="|location.href='@{/program/detail(id=${reserve.programId})}'|">
                        <img aria-hidden="true"
                             th:src="|/host/load-image?filePath=${reserve.filePath}|"
                             style="width: 355px; height: 235px;">
                    </div>
                    <div class="program-text">
                        <div class="program-title" th:text="${reserve.programName}"></div>
                        <div class="program-brief" th:text="${reserve.programPrice}"></div>
                        <div class="period">
                            <span th:text="${reserve.programStartDate}"></span>
                            <span> - </span>
                            <span th:text="${reserve.programEndDate}"></span>
                        </div>
                        <th:block th:if="${reserve.confirm.name()} == 'N'">
                            <div class="program-verified" th:if="${reserve.verified.name()} == 'N'" style="color: #868e96;">
                                <button disabled>접수 대기중</button>
                            </div>
                            <div class="program-verified" th:unless="${reserve.verified.name()} == 'N'" style="color: #BB84E8">
                                <button id="payBtn" th:onclick="pay([[${reserve}]])">결제하기</button>
                            </div>
                        </th:block>
                        <th:block th:unless="${reserve.confirm.name()} == 'N'">
                            <div class="program-verified" style="color: slateblue">
                                <button th:onclick="|location.href='/diary/write/${reserve.houseId}'|">일기 작성</button>
                            </div>
                        </th:block>
                    </div>
                </div>

            </div>
            <div class="account-no-content" th:unless="${!pagination.content.isEmpty()}">
                <h2>신청한 프로그램이 없습니다</h2>
                <div>
                    <button onclick="location.href='/program/list'">프로그램 신청</button>
                </div>
            </div>

            <div class="slight-divider last-line"></div>
        </div>
    </div>
</main>
<footer th:replace="~{/layout/footer :: footer}"></footer>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://cdn.bootpay.co.kr/js/bootpay-3.3.6.min.js" type="application/javascript"></script>
<script th:inline="javascript">
    const reservation = [[${pagination}]];
    console.log(reservation);
</script>
<script src="/js/layout/nav-tabs.js"></script>
<script src="/js/account/program.js"></script>
</html>