<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/account/account.css">
    <link rel="stylesheet" href="/css/account/program.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <title>신청한 프로그램</title>
</head>
<body>
<div th:replace="~{/layout/header :: header}"></div>
<main>
    <div id="content-box">
        <div id="content-box-main" class="d-flex justify-content-center">
            <div class="menu-title-container">
                <nav aria-label="계정">
                    <ol style="padding: 0">
                        <li class="path">
                            <a href="/account/menu" class="path-text" aria-busy="false">계정</a>
                        </li>
                        <li class="path">
                            <div class="path">
                                <svg viewBox="0 0 18 18" role="presentation" aria-hidden="true" focusable="false"
                                     style="height: 10px; width: 10px; fill: rgb(118, 118, 118);">
                                    <path d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z" fill-rule="evenodd"></path>
                                </svg>
                            </div>
                            <span aria-current="step" class="path-text">신청한 프로그램</span>
                        </li>
                    </ol>
                </nav>
                <h1 class="menu-title">신청한 프로그램</h1>
            </div>

            <nav class="category-nav">
                <div class="category-nav-wrapper flex">
                    <div class="nav-tabs selected">카테고리1</div>
                    <div class="nav-tabs">카테고리2</div>
                    <div class="nav-tabs">카테고리3</div>
                    <div class="nav-tabs">카테고리4</div>
                </div>
                <div class="slight-divider"></div>
            </nav>

            <div class="account-content">
                <!-- -->
                <!-- -->
                <div class="program-wrap">
                    <div class="program-image-wrap">
                        <img aria-hidden="true"
                             alt="한 남자가 무릎에 개를 앉힌 채 파란색 의자에 앉아 있습니다." decoding="async" elementtiming="LCP-target"
                             src="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt3cf3e52f60685424/5dc1e0a1ec43cb0d4398ae22/2UV40881MHQ96.jpg?crop=94.21p,100p,x0,y0&amp;width=720&amp;height=405&amp;auto=webp"
                             data-original-uri="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt3cf3e52f60685424/5dc1e0a1ec43cb0d4398ae22/2UV40881MHQ96.jpg?crop=94.21p,100p,x0,y0&amp;width=720&amp;height=405&amp;auto=webp"
                             style="--dls-liteimage-object-fit: cover;">
                    </div>
                    <div class="program-text">
                        <div class="program-title">프로그램 1</div>
                        <div class="program-brief">
                            프로그램 1은 한 달 동안 프로그램 1은 한 달 동안 프로그램 1은 한 달 동안 프로그램 1은 한 달 동안 프로그램 1은 한 달 동안
                            프로그램 1은 한 달 동안 프로그램 1은 한 달 동안 프로그램 1은 한 달 동안 프로그램 1은 한 달 동안 </div>
                        <div class="period">
                            2023년 6월 4일 - 2023년 7월 2일
                        </div>
                    </div>
                </div>

                <div class="program-wrap">
                    <div class="program-image-wrap">
                        <img aria-hidden="true" alt="한 여성이 침실에서 미소 짓고 있습니다." decoding="async"
                             elementtiming="LCP-target" src="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blta7f3c725e07e1ce7/5dc23d3fecfa320d08af4bd4/2UV40881MH9Q6.jpg?crop=95.08p,100p,x0,y0&amp;width=720&amp;height=405&amp;auto=webp"
                             data-original-uri="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blta7f3c725e07e1ce7/5dc23d3fecfa320d08af4bd4/2UV40881MH9Q6.jpg?crop=95.08p,100p,x0,y0&amp;width=720&amp;height=405&amp;auto=webp"
                             style="--dls-liteimage-object-fit: cover;">
                    </div>
                    <div class="program-text">
                        <div class="program-title">프로그램 2</div>
                        <div class="program-brief">
                            프로그램 2는 두 달 동안 2에서 살아보는 프로그램 2는 두 달 동안 2에서 살아보는 프로그램 2는 두 달 동안 2에서 살아보는 프로그램 2는 두 달 동안 2에서 살아보는
                        </div>
                        <div class="period">
                            2023년 6월 4일 - 2023년 7월 2일
                        </div>
                    </div>
                </div>

                <div class="program-wrap">
                    <div class="program-image-wrap">
                        <img aria-hidden="true" alt="에어비앤비 호스트 6명이 미소를 짓고 있는 사진의 콜라주입니다." decoding="async"
                             elementtiming="LCP-target" src="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt7f47becb52fc0ddb/61b10ec856fefe61578d05ef/RC_Thumbnail.png?crop=100p,100p,x0,y0&amp;width=720&amp;height=405&amp;auto=webp"
                             data-original-uri="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt7f47becb52fc0ddb/61b10ec856fefe61578d05ef/RC_Thumbnail.png?crop=100p,100p,x0,y0&amp;width=720&amp;height=405&amp;auto=webp"
                             style="--dls-liteimage-object-fit: cover;">
                    </div>
                    <div class="program-text">
                        <div class="program-title">프로그램 3</div>
                        <div class="program-brief">
                            세 달 동안 프로그램 3에서 거주하여 3가지 혜택을 누려보세요 세 달 동안 프로그램 3에서 거주하여 3가지 혜택을 누려보세요 세 달 동안 프로그램 3에서 거주하여 3가지 혜택을 누려보세요 세 달 동안 프로그램 3에서 거주하여 3가지 혜택을 누려보세요
                        </div>
                        <div class="period">
                            2023년 6월 4일 - 2023년 7월 2일
                        </div>
                    </div>
                </div>

                <div class="program-wrap">
                    <div class="program-image-wrap">
                        <img aria-hidden="true" alt="천연 목제 지붕과 프렌치 도어가 있는 A자형 주택 앞에서 호스트 두 명이 서로 팔짱을 끼고 미소 지으며 서 있습니다."
                             decoding="async" elementtiming="LCP-target"
                             src="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt7c354b12c14ba751/636d6725a160f90b25892e51/PJMPHOTO19Q210_TaraRice_0573_(1).jpg?crop=100p,84.47p,x0,y1.31p&amp;width=720&amp;height=405&amp;auto=webp"
                             data-original-uri="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt7c354b12c14ba751/636d6725a160f90b25892e51/PJMPHOTO19Q210_TaraRice_0573_(1).jpg?crop=100p,84.47p,x0,y1.31p&amp;width=720&amp;height=405&amp;auto=webp"
                             style="--dls-liteimage-object-fit: cover;">
                    </div>
                    <div class="program-text">
                        <div class="program-title">프로그램 4</div>
                        <div class="program-brief">
                            4가지 풍경이 있는 프로그램 4와 4개월 보내기 4가지 풍경이 있는 프로그램 4와 4개월 보내기 4가지 풍경이 있는 프로그램 4와 4개월 보내기 4가지 풍경이 있는 프로그램 4와 4개월 보내기 4가지 풍경이 있는 프로그램 4와 4개월 보내기
                        </div>
                        <div class="period">
                            2023년 6월 4일 - 2023년 7월 2일
                        </div>
                    </div>
                </div>

                <div class="program-wrap">
                    <div class="program-image-wrap">
                        <img aria-hidden="true" alt="한 여성이 전자 기타를 들고 서 있습니다." decoding="async"
                             elementtiming="LCP-target" src="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt9e4abb0016027253/5dc20952b1f6d20df3919bad/2UV40881MHWDT.jpg?crop=94.21p,100p,x0,y0&amp;width=720&amp;height=405&amp;auto=webp"
                             data-original-uri="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt9e4abb0016027253/5dc20952b1f6d20df3919bad/2UV40881MHWDT.jpg?crop=94.21p,100p,x0,y0&amp;width=720&amp;height=405&amp;auto=webp"
                             style="--dls-liteimage-object-fit: cover;">
                    </div>
                    <div class="program-text">
                        <div class="program-title">프로그램 5</div>
                        <div class="program-brief">
                            555555555555555555555555555555555555555555555555555555555555555555555555555555
                            555555555555555555555555555555555555555555555555555555555555555555555555555555555
                        </div>
                        <div class="period">
                            2023년 6월 4일 - 2023년 7월 2일
                        </div>
                    </div>
                </div>

                <!-- -->
                <!-- -->
            </div>

            <div class="slight-divider last-line"></div>
        </div>
    </div>
</main>
<footer th:replace="~{/layout/footer :: footer}"></footer>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="/js/layout/nav-tabs.js"></script>
<script src="/js/account/program.js"></script>
</html>