<!doctype html>
<html lang="en" xmlns="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원 관리</title>
    <link rel="stylesheet" href="/css/administrator/member.css">
    <link rel="stylesheet" href="/css/administrator/admin.css">
</head>
<body>
<div class="wrap">
    <nav th:replace="~{/layout/side-nav :: side-nav}"></nav>
    <div class="title">
        <span>회원 관리</span>
    </div>
    <section class="body">
        <div class="board-wrap">
            <div class="board-body">
                <div class="board-list-wrap">
                    <div class="buttons">
                        <div class="ask-wrap">
                            <input type="text" placeholder="회원 검색" class="select">
                        </div>
                        <input type="button" class="button-delete" value="회원 휴면/활성 변경">
                    </div>
                    <div class="board-list">

                        <!-- -->
                        <!-- -->
                    </div>
                    <div class="board-page">
                        <!-- -->
                        <!-- -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="/js/administrator/admin.js"></script>
<script>
    let service = new PaginationService(
        "member",
        `
            <div class="top">
                <div class="checkbox"></div>
                <div class="member-id">회원 번호</div>
                <div class="member-name">이름</div>
                <div class="member-email">이메일</div>
                <div class="member-birth">생년월일</div>
                <div class="member-register-date">가입일</div>
                <div class="member-is-remaining">계정 활성/휴면 여부</div>
            </div>
        `,
        (member) => `
            <div class="element member">
                <a href="">
                    <div class="checkbox"><input type="checkbox"></div>
                    <div class="member-id">${member.id}</div>
                    <div class="member-name">${member.memberName}</div>
                    <div class="member-email">${member.memberEmail}</div>
                    <div class="member-birth">${member.memberBirthDate.substring(0, 10)}</div>
                    <div class="member-register-date">${member.createdDate.substring(0, 10)}</div>
                    <div class="member-is-remaining" style="color: ${member.activated ? 'red' : 'green'}">
                            ${member.activated ? '휴면' : '활성'}</div>
                </a>
            </div>
        `, false, "modify"
    );
</script>
</html>