<!doctype html>
<html lang="en" xmlns="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>숙소 관리</title>
    <link rel="stylesheet" href="/css/administrator/reservation.css">
    <link rel="stylesheet" href="/css/administrator/admin.css">
</head>
<body>
<div class="wrap">
    <nav th:replace="~{/layout/side-nav :: side-nav}"></nav>
    <div class="title">
        <span>예약 내역 관리</span>
    </div>
    <section class="body">
        <div class="board-wrap">
            <div class="board-body">
                <div class="board-list-wrap">
                    <div class="buttons">
                        <div class="ask-wrap">
                            <input type="text" placeholder="예약 내역 검색" class="select">
                        </div>
                        <input type="button" class="button-delete" value="승인/반려 상태 변경">
                    </div>
                    <div class="board-list">
                        <!-- -->
                        <!-- -->
                    </div>
                    <div class="board-page">
                        <!-- -->
                        <!-- -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="/js/administrator/admin.js"></script>
<script>
    let service = new PaginationService(
        "reservation",
        `
        <div class="top">
            <div class="checkbox"></div>
            <div class="reservation-id">예약 번호</div>
            <div class="program-id">프로그램 이름</div>
            <div class="stay-id">숙소 이름</div>
            <div class="reservation-register-date">예약 날짜</div>
            <div class="member-id">회원 번호</div>
            <div class="boss-id">호스트 번호</div>
            <div class="reservation-is-blinded">예약 승인 여부</div>
        </div>
        `,
        (reservation) => `
        <div class="element reservation">
            <div class="checkbox"><input type="checkbox"></div>
            <div class="reservation-id">${reservation.id}</div>
            <div class="program-id">${reservation.programName}</div>
            <div class="stay-id">${reservation.houseTitle}</div>
            <div class="reservation-register-date">${reservation.reservedDate.substring(0, 10)}</div>
            <div class="member-id">${reservation.memberId}</div>
            <div class="boss-id">${reservation.hostId}</div>
            <div class="reservation-is-blinded" style="color: ${reservation.verified == 'Y' ? 'green' : 'red'}">${reservation.verified == 'Y' ? '승인됨' : '반려됨'}</div>
        </div>
        `, false, "modify"
    );
</script>
</html>