<!DOCTYPE html>
<html lang="en" xmlns="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/layout/index.css">
    <title>아웃 서울</title>
</head>
<body>
    <div th:replace="~{/layout/header :: header}"></div>
    <div class="local-nev-wrap">
        <div>
            <div style="position: sticky;padding-top: 25px;">
                <div >
                    <div>
                        <div class="local-nev-box">
                            <label>
                                <div data-region="강원">
                                    <span>
                                        <img src="/img/localLogo/gangwon.svg" alt="">
                                        <div>
                                            <span>강원</span>
                                        </div>
                                    </span>
                                </div>
                            </label>
                            <label>
                                <div data-region="경기">
                                    <span>
                                        <img src="/img/localLogo/gyeonggi.svg" alt="">
                                        <div>
                                            <span>경기</span>
                                        </div>
                                    </span>
                                </div>
                            </label>
                            <label>
                                <div data-region="경남">
                                    <span>
                                        <img src="/img/localLogo/gyeongsang_namdo.svg" alt="">
                                        <div>
                                            <span>경남</span>
                                        </div>
                                    </span>
                                </div>
                            </label>
                            <label>
                                <div data-region="경북">
                                    <span>
                                        <img src="/img/localLogo/gyeongsang_bukdo.svg" alt="">
                                        <div>
                                            <span>경북</span>
                                        </div>
                                    </span>
                                </div>
                            </label>
                            <label>
                                <div data-region="광주">
                                    <span>
                                        <img src="/img/localLogo/gwangju.svg" alt="">
                                        <div>
                                            <span>광주</span>
                                        </div>
                                    </span>
                                </div>
                            </label>
                            <label>
                                <div data-region="대구">
                                    <span>
                                        <img src="/img/localLogo/daegu.svg" alt="">
                                        <div>
                                            <span>대구</span>
                                        </div>
                                    </span>
                                </div>
                            </label>
                            <label>
                                <div data-region="대전">
                                    <span>
                                        <img src="/img/localLogo/daejeon.svg" alt="">
                                        <div>
                                            <span>대전</span>
                                        </div>
                                    </span>
                                </div>
                            </label>
                            <label>
                                <div data-region="부산">
                                    <span>
                                        <img src="/img/localLogo/pusan.svg" alt="">
                                        <div>
                                            <span>부산</span>
                                        </div>
                                    </span>
                                </div>
                            </label>
                            <label>
                                <div data-region="세종">
                                    <span>
                                        <img src="/img/localLogo/sejong.svg" alt="">
                                        <div>
                                            <span>세종</span>
                                        </div>
                                    </span>
                                </div>
                            </label>
                            <label>
                                <div data-region="울산">
                                    <span>
                                        <img src="/img/localLogo/ulsan.svg" alt="">
                                        <div>
                                            <span>울산</span>
                                        </div>
                                    </span>
                                </div>
                            </label>
                            <label>
                                <div data-region="인천">
                                    <span>
                                        <img src="/img/localLogo/incheon.svg" alt="">
                                        <div>
                                            <span>인천</span>
                                        </div>
                                    </span>
                                </div>
                            </label>
                            <label>
                                <div data-region="전남">
                                    <span>
                                        <img src="/img/localLogo/jeolla_namdo.png" alt="">
                                        <div>
                                            <span>전남</span>
                                        </div>
                                    </span>
                                </div>
                            </label>
                            <label>
                                <div data-region="전북">
                                    <span>
                                        <img src="/img/localLogo/jeolla_bukdo.svg" alt="">
                                        <div>
                                            <span>전북</span>
                                        </div>
                                    </span>
                                </div>
                            </label>
                            <label>
                                <div data-region="제주">
                                    <span>
                                        <img src="/img/localLogo/jeju.svg" alt="">
                                        <div>
                                            <span>제주</span>
                                        </div>
                                    </span>
                                </div>
                            </label>
                            <label>
                                <div data-region="충남">
                                    <span>
                                        <img src="/img/localLogo/chung-cheong_namdo.svg" alt="">
                                        <div>
                                            <span>충남</span>
                                        </div>
                                    </span>
                                </div>
                            </label>
                            <label>
                                <div data-region="충북">
                                    <span>
                                        <img src="/img/localLogo/chung-cheong_bukdo.svg" alt="">
                                        <div>
                                            <span>충북</span>
                                        </div>
                                    </span>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-section">
        <div class="slide-wrap">
            <div class="slide-btn" style="margin-top: 155px;" onclick="moveSlide(event)" data-oper="plus" data-for="hostingList" data-move-width="320">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="margin-top: 8px;fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 4; overflow: visible;"><path fill="none" d="M20 28 8.7 16.7a1 1 0 0 1 0-1.4L20 4"></path></svg>
            </div>
            <div class="sample-wrap">
                <div style="overflow: hidden">
                    <div class="main-list-wrap" id="hostingList">
                        <!-- -->
                        <!-- -->
                        <div th:each="program : ${programs}">
                            <a th:href="|/program/detail?id=${program.id}|">
                                <div class="house-wrap">
                                    <div class="house-info">
                                        <div class="house-name" th:text="${program.programAddress}"></div>
                                        <div class="period" th:text="|${program.programStartDate.format(program.format())} - ${program.programEndDate.format(program.format())}|"></div>
                                        <div class="price">
                                            <span>₩</span>
                                            <span th:text="${program.getDottedPrice()}"></span>
                                            <span> /박</span>
                                        </div>
                                    </div>
                                    <div class="house-img-wrap">
                                        <th:block th:if="${program.filePath != null}">
                                            <img th:src="|/files/display?fileName=/2023/${#strings.substring(program.filePath, 15)}/${program.fileUuid}|" alt="">
                                        </th:block>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- -->
                        <!-- -->
                    </div>
                </div>
            </div>
            <div class="slide-btn" style="margin-top: 155px;" onclick="moveSlide(event)" data-oper="minus" data-for="hostingList" data-move-width="320">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="margin-top: 8px;fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 4; overflow: visible;"><path fill="none" d="m12 4 11.3 11.3a1 1 0 0 1 0 1.4L12 28"></path></svg>
            </div>
        </div>
        <h1 style="margin-top: 50px;">곳곳에 있는 한달러들의 생생한 이야기를 들어보세요</h1>
        <div class="slide-wrap" style="padding-bottom: 60px;">
            <div class="slide-btn" style="margin-top: 220px;" onclick="moveSlide(event)" data-oper="plus" data-for="diaryList" data-move-width="400">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="margin-top: 8px;fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 4; overflow: visible;"><path fill="none" d="M20 28 8.7 16.7a1 1 0 0 1 0-1.4L20 4"></path></svg>
            </div>
            <div class="sample-wrap">
                <div style="overflow: hidden">
                    <div id="diaryList" class="main-list-wrap" style="margin-top: 25px;">
                        <!-- -->
                        <!-- -->
<!--                        <div th:each="diary : ${diaries}">-->
<!--                            <a href="">-->
<!--                                <div class="diary-wrap">-->
<!--                                    <div class="diary-info">-->
<!--                                        <div class="index-diary-title" th:text="${diary.diaryTitle}"></div>-->
<!--                                        <div class="period" th:text="${diary.createdDate.format(diary.format())}"></div>-->
<!--                                    </div>-->
<!--                                    <div class="diary-img-wrap">-->
<!--&lt;!&ndash;                                        <th:block th:if="${diary.filePath != null}">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div th:text="${diary.diaryContent}"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <img th:src="${diarySrc}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                                        </th:block>&ndash;&gt;-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </div>-->
                        <!-- -->
                        <!-- -->
                    </div>
                </div>
            </div>
            <div class="slide-btn" style="margin-top: 220px;" onclick="moveSlide(event)" data-oper="minus" data-for="diaryList" data-move-width="400">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="margin-top: 8px;fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 4; overflow: visible;"><path fill="none" d="m12 4 11.3 11.3a1 1 0 0 1 0 1.4L12 28"></path></svg>
            </div>
        </div>
    </div>
   <footer th:replace="~{/layout/footer :: footer}"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script th:inline="javascript">
    let programs = [[${programs}]];
    let diaries = [[${diaries}]];
    // let diarySrc = diary.diaryContent.split("\"").filter(i=>i.includes("data:image"))[0];
    // console.log(diarySrc);
    // console.log(programs, diaries)


    let text = "";
    diaries.forEach((diary)=>{
        let createdDate = new Date(diary.createdDate);
        text += `
            <div>
                <a href="/diary/article/${diary.id}">
                    <div class="diary-wrap">
                        <div class="diary-info">
                            <div class="index-diary-title">${diary.diaryTitle}</div>
                            <div class="period">${createdDate.getFullYear() + '년 ' + (createdDate.getMonth() + 1) + '월 ' + createdDate.getDate() + '일'}</div>
                        </div>
                        <div class="diary-img-wrap">
                                <img src="${diary.diaryContent.split("\"").filter(i=>i.includes("data:image"))[0]}" alt="">
                        </div>
                    </div>
                </a>
            </div>
        `
        // console.log(diary.diaryContent.split("\"").filter(i=>i.includes("data:image"))[0]);
    })
    document.getElementById('diaryList').innerHTML = text;

</script>
<script src="/js/layout/index.js"></script>
</html>