<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/account/menu.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <title>계정</title>
</head>
<body>
    <div th:replace="~{/layout/header :: header}"></div>
    <main>
        <div id="content-box">
            <div id="content-box-main" class="d-flex justify-content-center">
                <section id="brief-user-info">
                    <div class="info-wrap">
                        <h1 tabindex="-1">계정</h1>
                        <div class="info">
                            <span style="font-weight: 600;" th:text="${member.memberName}"></span>
                            ·
                            <span th:text="${member.memberEmail}"></span>
                        </div>
                    </div>
                </section>
                <div class="menu-container flex">
                    <!-- -->
                    <div class="menu-block">
                        <a href="/account/diary">
                            <div>
                                <div class="menu-content flex">
                                    <div style="margin-bottom: 16px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" style="display:block;height:32px;width:32px;fill:currentColor" aria-hidden="true" role="presentation" focusable="false"><path d="M26 2a1 1 0 0 1 .92.61l.04.12 2 7a1 1 0 0 1-.85 1.26L28 11h-3v5h6v2h-2v13h-2v-2.54a3.98 3.98 0 0 1-1.73.53L25 29H7a3.98 3.98 0 0 1-2-.54V31H3V18H1v-2h5v-4a1 1 0 0 1 .88-1h.36L6.09 8.4l1.82-.8L9.43 11H12a1 1 0 0 1 1 .88V16h10v-5h-3a1 1 0 0 1-.99-1.16l.03-.11 2-7a1 1 0 0 1 .84-.72L22 2h4zm1 16H5v7a2 2 0 0 0 1.7 1.98l.15.01L7 27h18a2 2 0 0 0 2-1.85V18zm-16-5H8v3h3v-3zm14.24-9h-2.49l-1.43 5h5.35l-1.43-5z"></path></svg>
                                    </div>
                                    <div class="menu-description">
                                        <div class="title">나의 일기</div>
                                        <div class="subtitle">내가 쓴 글을 확인합니다</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="menu-block">
                        <a href="/account/program">
                            <div>
                                <div class="menu-content flex">
                                    <div style="margin-bottom: 16px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" style="display:block;height:32px;width:32px;fill:currentColor" aria-hidden="true" role="presentation" focusable="false"><path d="M28.41 10 20 1.59A2.01 2.01 0 0 0 18.59 1H8a5 5 0 0 0-5 5v20a5 5 0 0 0 5 5h16a5 5 0 0 0 5-5V11.41a1.99 1.99 0 0 0-.59-1.41ZM19 3.41 26.59 11H22a3 3 0 0 1-3-3ZM27 26a3 3 0 0 1-3 3H8a3 3 0 0 1-3-3V6a3 3 0 0 1 3-3h9v5a5 5 0 0 0 5 5h5Z"></path></svg>
                                    </div>
                                    <div class="menu-description">
                                        <div class="title">신청한 프로그램 이력</div>
                                        <div class="subtitle">내가 신청한 프로그램을 볼 수 있습니다</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="menu-block">
                        <a href="/account/payment">
                            <div>
                                <div class="menu-content flex">
                                    <div style="margin-bottom: 16px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" style="display:block;height:32px;width:32px;fill:currentColor" aria-hidden="true" role="presentation" focusable="false"><path d="M25 4a2 2 0 0 1 2 1.85V8h2.04c1.04 0 1.88.82 1.96 1.85V26c0 1.05-.8 1.92-1.81 2H6.96a1.98 1.98 0 0 1-1.95-1.85L5 26v-2H3a2 2 0 0 1-2-1.85V6a2 2 0 0 1 1.85-2H3zm2 18a2 2 0 0 1-1.85 2H7v2h22V10h-2zM25 6H3v16h22zm-3 12a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm-8-8a4 4 0 1 1 0 8 4 4 0 0 1 0-8zm0 2a2 2 0 1 0 0 4 2 2 0 0 0 0-4zM6 8a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path></svg>
                                    </div>
                                    <div class="menu-description">
                                        <div class="title">결제 내역</div>
                                        <div class="subtitle">결제 내역을 확인하세요</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="menu-block">
                        <a href="/account/setting">
                            <div>
                                <div class="menu-content flex">
                                    <div style="margin-bottom: 16px;">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             viewBox="0 0 32 32" focusable="false"
                                             style="display: block; height: 32px; width: 32px; fill: currentColor;">
                                            <path d="M29 5a2 2 0 0 1 2 1.85V25a2 2 0 0 1-1.85 2H3a2 2 0 0 1-2-1.85V7a2 2 0 0 1 1.85-2H3zm0 2H3v18h26zm-3 12v2h-8v-2zm-16-8a3 3 0 0 1 2.5 4.67A5 5 0 0 1 15 20h-2a3 3 0 0 0-2-2.83V14a1 1 0 0 0-2-.12v3.29A3 3 0 0 0 7 20H5a5 5 0 0 1 2.5-4.33A3 3 0 0 1 10 11zm16 4v2h-8v-2zm0-4v2h-8v-2z"></path>
                                        </svg>
                                    </div>
                                    <div class="menu-description">
                                        <div class="title">개인정보</div>
                                        <div class="subtitle">개인정보 및 연락처를 수정합니다</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="menu-block">
                        <a href="/host/inn">
                            <div>
                                <div class="menu-content flex">
                                    <div style="margin-bottom: 16px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" style="display:block;height:32px;width:32px;fill:currentColor" aria-hidden="true" role="presentation" focusable="false"><path d="M25 4a2 2 0 0 1 2 1.85V8h2.04c1.04 0 1.88.82 1.96 1.85V26c0 1.05-.8 1.92-1.81 2H6.96a1.98 1.98 0 0 1-1.95-1.85L5 26v-2H3a2 2 0 0 1-2-1.85V6a2 2 0 0 1 1.85-2H3zm2 18a2 2 0 0 1-1.85 2H7v2h22V10h-2zM25 6H3v16h22zm-3 12a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm-8-8a4 4 0 1 1 0 8 4 4 0 0 1 0-8zm0 2a2 2 0 1 0 0 4 2 2 0 0 0 0-4zM6 8a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path></svg>
                                    </div>
                                    <div class="menu-description">
                                        <div class="title">내 숙소 목록</div>
                                        <div class="subtitle">내 숙소를 관리합니다</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="menu-block">
                        <a href="/one_to_one_question/question_list">
                            <div>
                                <div class="menu-content flex">
                                    <div style="margin-bottom: 16px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" style="display:block;height:32px;width:32px;fill:currentColor" aria-hidden="true" role="presentation" focusable="false"><path d="M25 4a2 2 0 0 1 2 1.85V8h2.04c1.04 0 1.88.82 1.96 1.85V26c0 1.05-.8 1.92-1.81 2H6.96a1.98 1.98 0 0 1-1.95-1.85L5 26v-2H3a2 2 0 0 1-2-1.85V6a2 2 0 0 1 1.85-2H3zm2 18a2 2 0 0 1-1.85 2H7v2h22V10h-2zM25 6H3v16h22zm-3 12a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm-8-8a4 4 0 1 1 0 8 4 4 0 0 1 0-8zm0 2a2 2 0 1 0 0 4 2 2 0 0 0 0-4zM6 8a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path></svg>
                                    </div>
                                    <div class="menu-description">
                                        <div class="title">1 : 1 문의</div>
                                        <div class="subtitle">아웃서울 서비스에 관해 물어보세요</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- -->
                </div>
                <section id="account-deactivate">
                    <div style="margin-top:52px;margin-bottom:7px">
                        <div class="deactivate-text">계정을 비활성화하셔야 하나요?</div>
                    </div>
                    <a href="/account-delete/reasons" style="text-decoration: underline">
                        지금 처리하기
                    </a>
                </section>
            </div>
        </div>
    </main>
    <footer th:replace="~{/layout/footer :: footer}"></footer>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script th:inline="javascript">
    let member = [[${member}]];
</script>
</html>