
body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: rgb(34, 34, 34);
    background-color: rgb(255, 255, 255);
    -webkit-font-smoothing: antialiased;
    margin: 0px;
}

.content-box{
    width: 1064px;
    min-height: 800px;

    margin-left: 100px;
    margin-right: 100px;

    padding-left: 40px;
    padding-right: 40px;

}
div {
    display: block;
}

hr{
    border: 0;
    border-bottom: 1px solid #dddddd;
}
.title{
    padding-top: 20px;
    padding-bottom: 20px;
}
.ctt{
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 600px;
}
.listBtn{
    color: white;
    background-color: #e61e4d;
}

.multiline-text {
    white-space: pre-line;
  }
#head-boot{
    height: 100px;
}
.route{
    color: #222;
    font-size : 14px;
}
.img_class{
    width: 50%;
    height: 30%;
}
#fixed{

    font-size: 16px;

}
.book{
    border: 1px solid #dddddd;
    display:inline-block;
    height: 150px;
    border-radius: 0.5rem;

    margin-top: 50px;
    margin-right: 50px;
}
.lonin_btn{
    color: white;
    background-color: #e61e4d;
}
