div {
    display: block;
}

.title{
    padding-top: 20px;
    padding-bottom: 20px;
}
.ctt{
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 600px;
}
.listBtn{
    color: white;
    background-color: #e61e4d;
}

.multiline-text {
    white-space: pre-line;
  }

.route{
    color: #222;
    font-size : 14px;
}
.img_class{
    width: 50%;
    height: 30%;
}

.book{
    border: 1px solid #dddddd;
    display:inline-block;
    height: 150px;
    border-radius: 0.5rem;

    margin-top: 50px;
    margin-right: 50px;
}
.lonin_btn{
    color: white;
    background-color: #e61e4d;
}
