<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>거기어때</title>
    <link rel="stylesheet" href="/css/main.css">
    <style>
        .header{
            left: 0px;
            height: 80px;
            width: 100%;
            contain-intrinsic-height: 80px;
            z-index: 100;
            /* color: #ff385c; */
            font-size: 16px;
            line-height: 20px;
            position: relative;
            background-color: aqua;
        }
    </style>
</head>
<body>
    <header class="header">
        <div>

        </div>
    </header>
</body>
</html>