@charset "UTF-8";

.article-format {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: 1fr 300px
}

.content {
    margin-bottom: 30px;
}

.article-title {
    text-align: center;
    padding: 80px 0;
    display: block;
    font-size: 42px;
    line-height: 52px;
    font-weight: 600;
    font-style: italic;
    color: #222222;
    margin: 0 0 16px;
}


.page-section {

}

.text-section {
    color: #222222;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.image-section {
    margin-bottom: 16px;
    width: 100%;
    height: 100%;
}

img.article-img {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
}

.text-section span {
    margin: 8px 0 16px;
}

h2.section-title {
    margin: 48px 0 16px !important;
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
}

.text-section hr {
    border: 0;
    border-bottom: 1px solid #DDDDDD;
    margin: 24px 0;
}

.diary-img {
    height: 100% !important;
}

#right-buttons {
    margin-top: 130px;
    position: sticky;
    top: 50px;
    width: 100%;
    height: 400px;
}

.middle-line {
    margin: 20px auto;
}

.profile-box {
    padding: 4px 24px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.04);
    border-radius: 24px;
    background-color: #FFFFFF;
    font-size: 32px;
    line-height: 36px;
    gap: 24px;
    min-height: 200px;
    width: 100%;
    font-weight: 700;
}

.profile-box .divider {
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.profile-box .profile-img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.profile-img img {
    position: relative;
    width: 100%;
}

.profile-box .profile-text {
    text-align: center;
    flex-direction: column;
    align-items: center;
    max-width: 153px;
}

.profile-text h1{
    height: auto;
    width: 153px;
    font-size: 32px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0;
    margin: 0;
}

#right-buttons .modify {
    justify-content: center;
    margin-top: 30px;
}

.modify span {
    display: block;
}

.modify-button {
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    border-radius: 8px;
    padding: 12px 0;
    text-align: center;
    width: 45%;
    cursor: pointer;
}

.modify-button:hover {
    background-color: #DDDDDD;
}
.modify-button {
    border: 1px solid #222222;
    margin-right: 10%;
}

.modify .modify-button:last-child:hover {
    background-color: #BB84E8;
}
.modify .modify-button:last-child {
    background-color: #8e60b3;
    color: #FFFFFF;
}

.count-icons {
    position: relative;
    width: 100%;
    float: left;
    justify-content: left;
    margin: 15px 0;
    padding-right: 40%;
}

.counter {
    position: relative;
    margin-right: 10%;
}

.counter span {
    font-size: 16px;
    font-weight: 400;
    color: #999999;
}

.count-img {
    width: 20px;
    height: 20px;
    color: #999999;
}

.comment {
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    position: relative;
    margin: 0 0 20px 20px;
    min-height: 40px;
}

.comment-wrapper {
    margin-bottom: 16px;
    justify-content: left;
    flex-direction: row-reverse;
    align-items: center;
}

.member-profile {
    margin-left: 12px;
    color: #222222;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.writer {
    font-size: 24px;
    font-weight: 700;
    transform: translateX(50%) translateY(23%);
}

#writeComment, #comment {
    flex-direction: column;
}

#writeComment>.member-profile {
    width: 60px !important;
    height: 60px !important;
    flex-direction: row;
}

.date-wrapper {
    color: #717171;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.img-link {
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
    outline-style: none;
    border-radius: 50%;
    text-decoration: none;
}

.member-img {
    height: 100%;
    width: 100%;
    position: static;
    border-radius: 50%;
}

.comment-writer {
    border-radius: 5px;
    margin: 10px;
    position: relative;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    padding: 0;
    resize: none;
    overflow: hidden;
    width: 100%;
    height: 80px;
}

#writeComment .modify-button {
    border: 1px solid #222222;
    margin-left: auto;
    margin-bottom: 10px;
    width: 10% !important;
    margin-right: 0 !important;
}

.more {
    width: 20% !important;
    margin-left: 5%;
    margin-bottom: 20px;
}

/* 댓글 수정 삭제 버튼 */
.buttons{
    margin-left: 10px;
}
.buttons button{
    border: 1px solid #222222;
    border-radius: 3px;
    font-size: 13px;
    background: none;
    margin-top: 15px;
    margin-right: 2px;
    padding: 0 2px;
}

.modify-content-wrapper {
    display: none;
}

.modify-content-wrapper button{
    border: 1px solid #222222;
    border-radius: 3px;
    background: none;
    margin-right: 2px;
}