@charset "UTF-8";

.article-format {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: 1fr 300px
}

.current-path {
    margin-block: 28px;
}

.path-wrap {
    margin: 0;
    padding: 0;
    list-style: none;
}

.path-content {
    align-items: center;
    cursor: text;
    padding-block: 4px;
}

.path-content .path {
    font-weight: 400;
    font-size: 12px;
    color: #222222;
    text-decoration: none;
}

.content {
    margin-bottom: 80px;
}

.path-content .arrow {
    margin-inline: 8px;
    color: #717171;
    width: 12px;
    height: 12px;
}

.article-title {
    text-align: center;
    padding: 80px 0;
    display: block;
    font-size: 42px;
    line-height: 52px;
    font-weight: 600;
    font-style: italic;
    color: #222222;
    margin: 0 0 16px;
}

.content>.title-last {
    margin-bottom: 30px;
}

.page-section {

}

.text-section {
    color: #222222;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.image-section {
    margin-bottom: 16px;
    width: 100%;
    height: 100%;
}

img.article-img {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
}

.text-section span {
    margin: 8px 0 16px;
}

h2.section-title {
    margin: 48px 0 16px !important;
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
}

.text-section hr {
    border: 0;
    border-bottom: 1px solid #DDDDDD;
    margin: 24px 0;
}

.diary-img {
    height: 100% !important;
}

#right-buttons {
    margin-top: 130px;
    position: sticky;
    top: 50px;
    width: 100%;
    height: 400px;
}

.middle-line {
    margin: 20px auto;
}

.profile-box {
    padding: 4px 24px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.04);
    border-radius: 24px;
    background-color: #FFFFFF;
    font-size: 32px;
    line-height: 36px;
    gap: 24px;
    min-height: 200px;
    width: 100%;
    font-weight: 700;
}

.profile-box .divider {
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.profile-box .profile-img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.profile-img img {
    position: relative;
    width: 100%;
}

.profile-box .profile-text {
    text-align: center;
    flex-direction: column;
    align-items: center;
    max-width: 153px;
}

.profile-text h1{
    height: auto;
    width: 153px;
    font-size: 32px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0;
    margin: 0;
}

#right-buttons .modify {
    justify-content: center;
    margin-top: 30px;
}

.modify span {
    display: block;
}

.modify .modify-button {
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    border-radius: 8px;
    padding: 12px 0;
    text-align: center;
    width: 45%;
    cursor: pointer;
}

.modify .modify-button:first-child:hover {
    background-color: #DDDDDD;
}
.modify .modify-button:first-child {
    border: 1px solid #222222;
    margin-right: 10%;
}

.modify .modify-button:last-child:hover {
    background-color: #A50B2F;
}
.modify .modify-button:last-child {
    background-color: #E61E4D;
    color: #FFFFFF;
}


