@charset "UTF-8";

.account-content {
  position: relative;
  width: 100%;
  margin-top: 40px;
  display: grid !important;
  grid-row-gap: 3rem;
  grid-column-gap: 5%;
  grid-template-columns: 1fr 1fr 1fr;
}

.program-wrap {
  background: #ffffff !important;
  position: relative !important;
  transition: box-shadow 0.2s cubic-bezier(0.2, 0, 0, 1), transform 0.1s cubic-bezier(0.2, 0, 0, 1);
  border: 1px none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  height: 100%;
  width: 300px;
  outline: none;
  cursor: pointer;
}

.program-image-wrap {
  width: 100%;
  height: auto;
  position: relative;
  background: #ffffff no-repeat 50% 50%;
  display: inline-block;
  vertical-align: bottom;
  min-height: 1px;
  border-radius: 8px;
  overflow: hidden;
}

.program-image-wrap img {
  height: 100%;
  width: 100%;
  position: static;
}

.program-text {
  margin-top: 16px;
  width: 100%;
}

.program-title {
  font-size: 18px;
  line-height: 28px;
  font-weight: 800;
  color: #222222;
}

.program-verified {
  font-size: 18px;
  line-height: 28px;
  font-weight: 800;
}

.program-verified > button {
  border-width: 1px;
  border-style: solid;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 24px;
  padding-right: 24px;
  transition: box-shadow 0.2s cubic-bezier(0.2, 0, 0, 1),
  transform 0.1s cubic-bezier(0.2, 0, 0, 1);
  background: transparent;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  text-align: inherit;
}

.program-brief::before {
  content: '₩';
}

.program-brief {
  font-size: 16px;
  line-height: 24px;
  overflow: clip;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 400;
  color: #717171;
  margin-top: 8px;
}

.program-brief::after {
  content: ' 원';
}

.period {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #717171;
  display: inline-block;
  margin-top: 8px;
}