@charset "UTF-8";

.account-info {
    width: 60%;
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    min-height: 1px;
    position: relative;
}

.info-block {
    border-bottom: 1px solid #EBEBEB;
}

.info-block .info {
    color: inherit;
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 1px;
}

.info-content {
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    flex: 1;
}

.info .info-label {
    color: inherit;
    font-size: 16px;
    line-height: 20px;
}

.info .info-label h2 {
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: 1em;
    font-weight: inherit;
    line-height: inherit;
}


.info .info-text {
    margin-top: 4px;
    color: #717171;
    word-break: break-word;
    font-size: 14px;
    line-height: 18px;
}

.info .info-modify {
    color: inherit;
    margin-left: 16px;
    text-align: right;
    max-width: 30%;
    word-break: break-word;
}

.info .info-modify .modify-button {
    font-weight: 600;
    text-align: right;
    background: transparent;
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border-radius: 4px;
    appearance: none;
    user-select: auto;
    color: inherit;
    text-decoration: underline;
    position: relative;
    outline: none;
}

.right-nav {
    width: 30%;
    float: left;
    margin-left: 10%;
    min-height: 1px;
    position: relative;
    border: 1px solid #DDDDDD;
    border-radius: 12px;
    padding: 24px;
}

.right-nav .question {
    margin-top: 16px;
    font-size: 20px;
    font-weight: 800;
}

.right-nav .answer {
    margin-top: 16px;
    font-size: 16px;
    color: #717171;
}

.input-wrap {
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 56px;
    margin-bottom: 16px;
}
.input-label:last-child {
    margin-left: 15px;
}

.label-content {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    left: 8px;
    transform: translateY(-8px) scale(0.75);
    transition: transform 0.15s cubic-bezier(0.455,0.03,0.515,0.955);
    position: absolute;
    top: 18px;
    color: black;
    pointer-events: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.submit-button {
    margin-bottom: 24px
}

.submit-button button {
    border-radius: 8px;
    padding: 14px 24px;
    transition: box-shadow 0.2s cubic-bezier(0.2,0,0,1),transform 0.1s cubic-bezier(0.2,0,0,1);
    border: 1px none;
    background: #222222;
    color: white;
    cursor: pointer;
    margin: 0;
    text-align: center;
}

.not-name {
    margin-left: 0 !important;
}

