<!doctype html>
<html lang="en" xmlns="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>숙소 관리</title>
    <link rel="stylesheet" href="/css/administrator/stay.css">
    <link rel="stylesheet" href="/css/administrator/admin.css">
</head>
<body>
<div class="wrap">
    <nav th:replace="~{/layout/side-nav :: side-nav}"></nav>
    <div class="title">
        <span>숙소 관리</span>
    </div>
    <section class="body">
        <div class="board-wrap">
            <div class="board-body">
                <div class="board-list-wrap">
                    <div class="buttons">
                        <div class="ask-wrap">
                            <input type="text" placeholder="숙소 검색" class="select">
                        </div>
                        <input type="button" class="button-delete" value="숙소 삭제">
                    </div>
                    <div class="board-list">
                        <!-- -->
                        <!-- -->
                    </div>
                    <div class="board-page">
                        <!-- -->
                        <!-- -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="/js/administrator/admin.js"></script>
<script>
    let service = new AdministratorService(
        "api/house",
        `
            <div class="top">
                <div class="checkbox"></div>
                <div class="stay-id">숙소 번호</div>
                <div class="stay-type">지역</div>
                <div class="stay-name">이름</div>
                <div class="stay-content">설명</div>
                <div class="stay-register-date">등록 날짜</div>
                <div class="member-id">호스트 번호</div>
            </div>
        `,
        (house) => `
            <div class="element">
                <div class="checkbox"><input type="checkbox"></div>
                <div class="stay-id">${house.id}</div>
                <div class="stay-type">${house.houseAddress}</div>
                <div class="stay-name"><a href="">${house.houseTitle}</a></div>
                <div class="stay-content">${house.houseContent}</div>
                <div class="stay-register-date">${house.createdDate.substring(0, 10)}</div>
                <div class="member-id">${house.memberId}</div>
            </div>
        `
    );
</script>
</html>