<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>문의사항 관리</title>
    <link rel="stylesheet" href="/css/administrator/inquiry.css">
</head>
<body>
<div class="wrap">
    <nav class="menu">
        <div class="logo">
            <img src="" alt="">
        </div>
        <hr>
        <ul class="menu-list">
            <li><a href="/main"> <span><img
                    src="/img/site_icon.png">&nbsp;&nbsp;사이트 바로가기</span>
                <hr>
            <li><a href="/administrator/program"> <span><img
                    src="/img/program_icon.png">&nbsp;&nbsp;프로그램 관리</span>
            </a></li>
            <hr>
            <li><a href="/administrator/stay"> <span><img
                    src="/img/stay_icon.png">&nbsp;&nbsp;숙소 관리</span>
            </a></li>
            <hr>
            <li><a href="/administrator/reservation"> <span><img
                    src="/img/reserve_icon.png">&nbsp;&nbsp;예약 내역 관리</span>
            </a></li>
            <hr>
            <li><a href="/administrator/member"> <span><img
                    src="/img/member_icon.png">&nbsp;&nbsp;회원 관리</span>
            </a></li>
            <hr>
            <li><a href="/administrator/notice"> <span><img
                    src="/img/notice_icon.png">&nbsp;&nbsp;공지사항 관리</span>
            </a></li>
            <hr>
            <li><a href="/administrator/inquiry" class="active"> <span><img
                    src="/img/inquiry_icon.png">&nbsp;&nbsp;문의사항 관리</span>
            </a></li>
        </ul>
    </nav>
    <div class="title">
        <span>문의사항 관리</span>
    </div>
    <section class="body">
        <div class="board-wrap">
            <div class="board-body">
                <div class="board-list-wrap">
                    <div class="buttons">
                        <div class="ask-wrap">
                            <input type="text" placeholder="문의사항 검색" class="select">
                        </div>
                        <input type="button" class="button-delete" value="문의사항 삭제">
                    </div>
                    <div class="board-list">
                        <div class="top">
                            <div class="checkbox"></div>
                            <div class="inquiry-id">문의사항 번호</div>
                            <div class="inquiry-name">제목</div>
                            <div class="inquiry-content">내용</div>
                            <div class="inquiry-register-date">작성날짜</div>
                            <div class="member-id">회원번호</div>
                            <div class="inquiry-is-answered">답변여부</div>
                        </div>
                        <div class="inquiry">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="inquiry-id">3</div>
                            <div class="inquiry-name">궁금합니당</div>
                            <div class="inquiry-content">이 프로그램은 언제 신청 마감인가요</div>
                            <div class="inquiry-register-date">2023.04.23</div>
                            <div class="member-id">45</div>
                            <div class="inquiry-is-answered">답변완료</div>
                        </div>
                        <div class="inquiry">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="inquiry-id">3</div>
                            <div class="inquiry-name">궁금합니당</div>
                            <div class="inquiry-content">이 프로그램은 언제 신청 마감인가요</div>
                            <div class="inquiry-register-date">2023.04.23</div>
                            <div class="member-id">45</div>
                            <div class="inquiry-is-answered">답변완료</div>
                        </div>
                        <div class="inquiry">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="inquiry-id">3</div>
                            <div class="inquiry-name">궁금합니당</div>
                            <div class="inquiry-content">이 프로그램은 언제 신청 마감인가요</div>
                            <div class="inquiry-register-date">2023.04.23</div>
                            <div class="member-id">45</div>
                            <div class="inquiry-is-answered">답변완료</div>
                        </div>
                        <div class="inquiry">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="inquiry-id">3</div>
                            <div class="inquiry-name">궁금합니당</div>
                            <div class="inquiry-content">이 프로그램은 언제 신청 마감인가요</div>
                            <div class="inquiry-register-date">2023.04.23</div>
                            <div class="member-id">45</div>
                            <div class="inquiry-is-answered">답변완료</div>
                        </div>
                        <div class="inquiry">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="inquiry-id">3</div>
                            <div class="inquiry-name">궁금합니당</div>
                            <div class="inquiry-content">이 프로그램은 언제 신청 마감인가요</div>
                            <div class="inquiry-register-date">2023.04.23</div>
                            <div class="member-id">45</div>
                            <div class="inquiry-is-answered">답변완료</div>
                        </div>
                        <div class="inquiry">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="inquiry-id">3</div>
                            <div class="inquiry-name">궁금합니당</div>
                            <div class="inquiry-content">이 프로그램은 언제 신청 마감인가요</div>
                            <div class="inquiry-register-date">2023.04.23</div>
                            <div class="member-id">45</div>
                            <div class="inquiry-is-answered">답변완료</div>
                        </div>
                        <div class="inquiry">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="inquiry-id">3</div>
                            <div class="inquiry-name">궁금합니당</div>
                            <div class="inquiry-content">이 프로그램은 언제 신청 마감인가요</div>
                            <div class="inquiry-register-date">2023.04.23</div>
                            <div class="member-id">45</div>
                            <div class="inquiry-is-answered">답변완료</div>
                        </div>
                        <div class="inquiry">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="inquiry-id">3</div>
                            <div class="inquiry-name">궁금합니당</div>
                            <div class="inquiry-content">이 프로그램은 언제 신청 마감인가요</div>
                            <div class="inquiry-register-date">2023.04.23</div>
                            <div class="member-id">45</div>
                            <div class="inquiry-is-answered">답변완료</div>
                        </div>
                        <div class="inquiry">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="inquiry-id">3</div>
                            <div class="inquiry-name">궁금합니당</div>
                            <div class="inquiry-content">이 프로그램은 언제 신청 마감인가요</div>
                            <div class="inquiry-register-date">2023.04.23</div>
                            <div class="member-id">45</div>
                            <div class="inquiry-is-answered">답변완료</div>
                        </div>
                        <div class="inquiry">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="inquiry-id">3</div>
                            <div class="inquiry-name">궁금합니당</div>
                            <div class="inquiry-content">이 프로그램은 언제 신청 마감인가요</div>
                            <div class="inquiry-register-date">2023.04.23</div>
                            <div class="member-id">45</div>
                            <div class="inquiry-is-answered">답변완료</div>
                        </div>
                    </div>
                    <div class="board-page">
                        <a href="" class="button first"><<</a>
                        <a href="" class="button prev"><</a>
                        <a href="" class="number active">1</a>
                        <a href="" class="number">2</a>
                        <a href="" class="number">3</a>
                        <a href="" class="number">4</a>
                        <a href="" class="number">5</a>
                        <a href="" class="button next">></a>
                        <a href="" class="button last">>></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>