<!doctype html>
<html lang="en" xmlns="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>문의사항 관리</title>
    <link rel="stylesheet" href="/css/administrator/inquiry.css">
    <link rel="stylesheet" href="/css/administrator/admin.css">
</head>
<body>
<div class="wrap">
    <nav th:replace="~{/layout/side-nav :: side-nav}"></nav>
    <div class="title">
        <span>문의사항 관리</span>
    </div>
    <section class="body">
        <div class="board-wrap">
            <div class="board-body">
                <div class="board-list-wrap">
                    <div class="buttons">
                        <div class="ask-wrap">
                            <input type="text" placeholder="문의사항 검색" class="select">
                        </div>
                        <input type="button" class="button-delete" value="문의사항 삭제">
                    </div>
                    <div class="board-list">
                        <!-- -->
                        <!-- -->
                    </div>
                    <div class="board-page">
                        <!-- -->
                        <!-- -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="/js/administrator/admin.js"></script>
<script>
    let service = new AdministratorService(
        "api/inquiry",
        `
            <div class="top">
                <div class="checkbox"></div>
                <div class="inquiry-id">문의사항 번호</div>
                <div class="inquiry-id">문의 종류</div>
                <div class="inquiry-content">내용</div>
                <div class="inquiry-register-date">작성 날짜</div>
                <div class="member-id">회원 번호</div>
                <div class="inquiry-is-answered">답변여부</div>
            </div>
        `,
        (inquiry) => {
            `
                <div class="element">
                    <div class="checkbox"><input type="checkbox"></div>
                    <div class="inquiry-id">${inquiry.id}</div>
                    <div class="inquiry-id">${inquiry.oneToOneQuestionType}</div>
                    <div class="inquiry-content">${inquiry.oneToOneQuestionContent}</div>
                    <div class="inquiry-register-date">${inquiry.createdDate}</div>
                    <div class="member-id">${inquiry.id}</div>
                    <div class="inquiry-is-answered">${inquiry.id}</div>
                </div>
            `
        }
    );
</script>
</html>