<!doctype html>
<html lang="en" xmlns="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>문의사항 관리</title>
    <link rel="stylesheet" href="/css/administrator/inquiry-detail.css">
</head>
<body>
<div class="wrap">
    <nav class="menu">
        <div class="logo">
            <img src="/img/out-seoul.png" alt="">
        </div>
        <hr>
        <ul class="menu-list">
            <li><a href="/main"> <span><img
                    src="/img/site_icon.png">&nbsp;&nbsp;사이트 바로가기</span>
                <hr>
            <li><a href="/administrator/program"> <span><img
                    src="/img/program_icon.png">&nbsp;&nbsp;프로그램 관리</span>
            </a></li>
            <hr>
            <li><a href="/administrator/stay"> <span><img
                    src="/img/stay_icon.png">&nbsp;&nbsp;숙소 관리</span>
            </a></li>
            <hr>
            <li><a href="/administrator/reservation"> <span><img
                    src="/img/reserve_icon.png">&nbsp;&nbsp;예약 내역 관리</span>
            </a></li>
            <hr>
            <li><a href="/administrator/member"> <span><img
                    src="/img/member_icon.png">&nbsp;&nbsp;회원 관리</span>
            </a></li>
            <hr>
            <li><a href="/administrator/notice"> <span><img
                    src="/img/notice_icon.png">&nbsp;&nbsp;공지사항 관리</span>
            </a></li>
            <hr>
            <li><a href="/administrator/inquiry" class="active"> <span><img
                    src="/img/inquiry_icon.png">&nbsp;&nbsp;문의사항 관리</span>
            </a></li>
        </ul>
    </nav>
    <div class="title">
        <span>문의사항 관리</span>
    </div>
    <section class="body">
        <div class="board-wrap">
            <div class="board-body">
                <div class="board-list-wrap">
                    <div class="board-view">
                        <div class="name">
                            <h2>글이 안써져여</h2>
                            <div>
                                <input type="button" class="button-list" value="목록으로">
                                <input type="button" class="button-write" value="답변 달기">
                            </div>
                        </div>
                        <div class="info">
                            <dl>
                                <dt>문의사항 번호</dt>
                                <dd>10</dd>
                            </dl>
                            <dl>
                                <dt>회원번호</dt>
                                <dd>1</dd>
                            </dl>
                            <dl>
                                <dt>작성날짜</dt>
                                <dd>2023.04.16</dd>
                            </dl>
                            <dl>
                                <dt>답변여부</dt>
                                <dd>미답변</dd>
                            </dl>
                        </div>
                        <div class="content">
                            글이 안써져요. 글이 안써져요. 글이 안써져요.<br>
                            글이 안써져요. 글이 안써져요. 글이 안써져요.<br>
                            글이 안써져요. 글이 안써져요. 글이 안써져요.<br>
                            글이 안써져요. 글이 안써져요. 글이 안써져요.<br>
                            글이 안써져요. 글이 안써져요. 글이 안써져요.<br>
                            글이 안써져요. 글이 안써져요. 글이 안써져요.<br>
                            글이 안써져요. 글이 안써져요. 글이 안써져요.<br>
                            글이 안써져요. 글이 안써져요. 글이 안써져요.<br>
                            글이 안써져요. 글이 안써져요. 글이 안써져요.<br>
                            글이 안써져요. 글이 안써져요. 글이 안써져요.<br>
                            글이 안써져요. 글이 안써져요. 글이 안써져요.<br>
                            글이 안써져요. 글이 안써져요. 글이 안써져요.
                        </div>
                    </div>
                    <div class="comment">
                        <div class="comment-content">
                            문의사항 답변 문의사항 답변 문의사항 답변 문의사항 답변 문의사항 답변 <br>
                            문의사항 답변 문의사항 답변 문의사항 답변 문의사항 답변 문의사항 답변 <br>
                            문의사항 답변 문의사항 답변 문의사항 답변 문의사항 답변 문의사항 답변 <br>
                            문의사항 답변 문의사항 답변 문의사항 답변 문의사항 답변 문의사항 답변 <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>