<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>회원 관리</title>
    <link rel="stylesheet" href="/css/administrator/member.css">
</head>
<body>
<div class="wrap">
    <nav class="menu">
        <div class="logo">
            <img src="" alt="">
        </div>
        <hr>
        <ul class="menu-list">
            <li><a href="/main"> <span><img
                    src="/img/site_icon.png">&nbsp;&nbsp;사이트 바로가기</span>
                <hr>
            <li><a href="/administrator/program"> <span><img
                    src="/img/program_icon.png">&nbsp;&nbsp;프로그램 관리</span>
            </a></li>
            <hr>
            <li><a href="/administrator/stay"> <span><img
                    src="/img/stay_icon.png">&nbsp;&nbsp;숙소 관리</span>
            </a></li>
            <hr>
            <li><a href="/administrator/reservation"> <span><img
                    src="/img/reserve_icon.png">&nbsp;&nbsp;예약 내역 관리</span>
            </a></li>
            <hr>
            <li><a href="/administrator/member" class="active"> <span><img
                    src="/img/member_icon.png">&nbsp;&nbsp;회원 관리</span>
            </a></li>
            <hr>
            <li><a href="/administrator/notice"> <span><img
                    src="/img/notice_icon.png">&nbsp;&nbsp;공지사항 관리</span>
            </a></li>
            <hr>
            <li><a href="/administrator/inquiry"> <span><img
                    src="/img/inquiry_icon.png">&nbsp;&nbsp;문의사항 관리</span>
            </a></li>
        </ul>
    </nav>
    <div class="title">
        <span>회원 관리</span>
    </div>
    <section class="body">
        <div class="board-wrap">
            <div class="board-body">
                <div class="board-list-wrap">
                    <div class="buttons">
                        <div class="ask-wrap">
                            <input type="text" placeholder="회원 검색" class="select">
                        </div>
                        <input type="button" class="button-delete" value="회원 삭제">
                    </div>
                    <div class="board-list">
                        <div class="top">
                            <div class="checkbox"></div>
                            <div class="member-id">회원 번호</div>
                            <div class="member-name">이름</div>
                            <div class="member-email">이메일</div>
                            <div class="member-birth">생년월일</div>
                            <div class="member-register-date">가입일</div>
                            <div class="member-is-remaining">회원구분</div>
                        </div>
                        <div class="member"><a href="">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="member-id">10</div>
                            <div class="member-name">임희수</div>
                            <div class="member-email">ss00.coder@gmail.com</div>
                            <div class="member-birth">2000.01.01</div>
                            <div class="member-register-date">2023.04.16</div>
                            <div class="member-is-remaining">일반회원</div>
                        </a></div>
                        <div class="member"><a href="">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="member-id">10</div>
                            <div class="member-name">임희수</div>
                            <div class="member-email">ss00.coder@gmail.com</div>
                            <div class="member-birth">2000.01.01</div>
                            <div class="member-register-date">2023.04.16</div>
                            <div class="member-is-remaining">탈퇴회원</div>
                        </a></div>
                        <div class="member"><a href="">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="member-id">10</div>
                            <div class="member-name">임희수</div>
                            <div class="member-email">ss00.coder@gmail.com</div>
                            <div class="member-birth">2000.01.01</div>
                            <div class="member-register-date">2023.04.16</div>
                            <div class="member-is-remaining">일반회원</div>
                        </a></div>
                        <div class="member"><a href="">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="member-id">10</div>
                            <div class="member-name">임희수</div>
                            <div class="member-email">ss00.coder@gmail.com</div>
                            <div class="member-birth">2000.01.01</div>
                            <div class="member-register-date">2023.04.16</div>
                            <div class="member-is-remaining">일반회원</div>
                        </a></div>
                        <div class="member"><a href="">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="member-id">10</div>
                            <div class="member-name">임희수</div>
                            <div class="member-email">ss00.coder@gmail.com</div>
                            <div class="member-birth">2000.01.01</div>
                            <div class="member-register-date">2023.04.16</div>
                            <div class="member-is-remaining">일반회원</div>
                        </a></div>
                        <div class="member"><a href="">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="member-id">10</div>
                            <div class="member-name">임희수</div>
                            <div class="member-email">ss00.coder@gmail.com</div>
                            <div class="member-birth">2000.01.01</div>
                            <div class="member-register-date">2023.04.16</div>
                            <div class="member-is-remaining">일반회원</div>
                        </a></div>
                        <div class="member"><a href="">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="member-id">10</div>
                            <div class="member-name">임희수</div>
                            <div class="member-email">ss00.coder@gmail.com</div>
                            <div class="member-birth">2000.01.01</div>
                            <div class="member-register-date">2023.04.16</div>
                            <div class="member-is-remaining">일반회원</div>
                        </a></div>
                        <div class="member"><a href="">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="member-id">10</div>
                            <div class="member-name">임희수</div>
                            <div class="member-email">ss00.coder@gmail.com</div>
                            <div class="member-birth">2000.01.01</div>
                            <div class="member-register-date">2023.04.16</div>
                            <div class="member-is-remaining">일반회원</div>
                        </a></div>
                        <div class="member"><a href="">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="member-id">10</div>
                            <div class="member-name">임희수</div>
                            <div class="member-email">ss00.coder@gmail.com</div>
                            <div class="member-birth">2000.01.01</div>
                            <div class="member-register-date">2023.04.16</div>
                            <div class="member-is-remaining">일반회원</div>
                        </a></div>
                        <div class="member"><a href="">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="member-id">10</div>
                            <div class="member-name">임희수</div>
                            <div class="member-email">ss00.coder@gmail.com</div>
                            <div class="member-birth">2000.01.01</div>
                            <div class="member-register-date">2023.04.16</div>
                            <div class="member-is-remaining">일반회원</div>
                        </a></div>
                    </div>
                    <div class="board-page">
                        <a href="" class="button first"><<</a>
                        <a href="" class="button prev"><</a>
                        <a href="" class="number active">1</a>
                        <a href="" class="number">2</a>
                        <a href="" class="number">3</a>
                        <a href="" class="number">4</a>
                        <a href="" class="number">5</a>
                        <a href="" class="button next">></a>
                        <a href="" class="button last">>></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>