<!doctype html>
<html lang="en" xmlns="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>공지사항 관리</title>
    <link rel="stylesheet" href="/css/administrator/notice-detail.css">
    <link rel="stylesheet" href="/css/administrator/admin.css">
</head>
<body>
<div class="wrap">
    <nav th:replace="~{/layout/side-nav :: side-nav}"></nav>
    <div class="title">
        <span>공지사항 관리</span>
    </div>
    <section class="body">
        <div class="board-wrap">
            <div class="board-body">
                <div class="board-list-wrap" style="overflow: auto">
                    <div class="board-view" th:object="${announcementDetailDTO}">
                        <div class="name">
                            <h2 th:text="*{announcementTitle}"></h2>
                            <div>
                                <input type="button" class="button-list" value="목록으로">
                                <input type="button" class="button-update" value="공지사항 수정">
                                <input type="button" class="button-delete" value="공지사항 삭제">
                            </div>
                        </div>
                        <div class="info">
                            <dl>
                                <dt>공지사항 번호</dt>
                                <dd th:text="*{id}"></dd>
                            </dl>
                            <dl>
                                <dt>관리자 번호</dt>
                                <dd th:text="*{adminId}"></dd>
                            </dl>
                            <dl>
                                <dt>작성날짜</dt>
                                <dd th:text="*{getFormattedCreatedDate()}"></dd>
                            </dl>
                        </div>
                        <div class="content">
                            <th:block th:if="*{filePath != null}">
                                <img th:src="|/files/display?fileName=*{filePath}t_*{fileUuid}_*{fileName}|" style="height: 200px">
                            </th:block>
                            <br>
                            <th:block th:text="*{announcementContent}"></th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="/js/administrator/detail.js"></script>
<script th:inline="javascript">
    let announcementDetailDTO = [[${announcementDetailDTO}]];
</script>
<script>
    const $modify = $('.button-update');
    const $delete = $('.button-delete');
    let service = new DetailService('notice');
    $modify.on('click', () => location.href = `/administrator/notice/modify?id=${announcementDetailDTO.id}`);
    $delete.on('click', () => location.href = `/administrator/notice/delete?id=${announcementDetailDTO.id}`);
</script>
</html>