<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>공지사항 관리</title>
    <link rel="stylesheet" href="/css/administrator/notice-write.css">
</head>
<body>
<div class="wrap">
    <nav class="menu">
        <div class="logo">
            <img src="" alt="">
        </div>
        <hr>
        <ul class="menu-list">
            <li><a href="/main"> <span><img
                    src="/img/site_icon.png">&nbsp;&nbsp;사이트 바로가기</span>
                <hr>
            <li><a href="/administrator/program"> <span><img
                    src="/img/program_icon.png">&nbsp;&nbsp;프로그램 관리</span>
            </a></li>
            <hr>
            <li><a href="/administrator/stay"> <span><img
                    src="/img/stay_icon.png">&nbsp;&nbsp;숙소 관리</span>
            </a></li>
            <hr>
            <li><a href="/administrator/reservation"> <span><img
                    src="/img/reserve_icon.png">&nbsp;&nbsp;예약 내역 관리</span>
            </a></li>
            <hr>
            <li><a href="/administrator/member"> <span><img
                    src="/img/member_icon.png">&nbsp;&nbsp;회원 관리</span>
            </a></li>
            <hr>
            <li><a href="/administrator/notice" class="active"> <span><img
                    src="/img/notice_icon.png">&nbsp;&nbsp;공지사항 관리</span>
            </a></li>
            <hr>
            <li><a href="/administrator/inquiry"> <span><img
                    src="/img/inquiry_icon.png">&nbsp;&nbsp;문의사항 관리</span>
            </a></li>
        </ul>
    </nav>
    <div class="title">
        <span>공지사항 관리</span>
    </div>
    <section class="body">
        <div class="board-wrap">
            <div class="board-body">
                <div class="board-list-wrap" style="overflow: auto">
                    <div class="board-view">
                        <div class="name">
                            <h2>새로운 프로그램이 오픈합니다~!!</h2>
                            <input type="button" class="button-update" value="공지사항 수정">
                        </div>
                        <div class="info">
                            <dl>
                                <dt>공지사항 번호</dt>
                                <dd>10</dd>
                            </dl>
                            <dl>
                                <dt>관리자 번호</dt>
                                <dd>1</dd>
                            </dl>
                            <dl>
                                <dt>작성날짜</dt>
                                <dd>2023.07.16</dd>
                            </dl>
                            <dl>
                                <dt>공개여부</dt>
                                <dd>공개</dd>
                            </dl>
                        </div>
                        <div class="content">
                            <img src="/img/img.png" style="height: 200px"><br>
                            새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!<br>
                            새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!<br>
                            새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!<br>
                            새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!<br>
                            새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!<br>
                            새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!<br>
                            새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!<br>
                            새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!<br>
                            새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!<br>
                            새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!<br>
                            새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!새로운 프로그램이 오픈합니다~!!<br>
                            새로운 프로그램이 오픈합니다~!!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>