<!doctype html>
<html lang="en" xmlns="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>공지사항 관리</title>
    <link rel="stylesheet" href="/css/administrator/notice-write.css">
    <link rel="stylesheet" href="/css/administrator/admin.css">
</head>
<body>
<div class="wrap">
    <nav th:replace="~{/layout/side-nav :: side-nav}"></nav>
    <div class="title">
        <span>공지사항 관리</span>
    </div>
    <section class="body">
        <div class="board-wrap">
            <div class="board-body">
                <div class="board-list-wrap" style="overflow: auto">
                    <div class="board-view">
                        <div class="name">
                            <h2>공지사항 작성</h2>
                            <div>
                                <input type="button" class="button-list" value="목록으로">
                                <input type="button" class="button-write" value="공지사항 작성">
                            </div>
                        </div>
                        <div class="input-wrapper">
                            <div class="input-title">
                                <dl>
                                    <dt>제목</dt>
                                    <dd><input type="text" placeholder="제목 입력"/></dd>
                                </dl>
                            </div>
                            <div class="input-content">
                                <dl>
                                    <dt>내용</dt>
                                    <dd><textarea placeholder="내용 입력"></textarea></dd>
                                </dl>
                            </div>
                            <div class="input-file">
                                <dl>
                                    <dt>파일 첨부</dt>
                                    <dd>
                                        <input style="display: none" type="file" id="input-file"/>
                                        <label class="input-file-label" for="input-file">업로드</label>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>