<!doctype html>
<html lang="en" xmlns="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>공지사항 관리</title>
    <link rel="stylesheet" href="/css/administrator/notice.css">
    <link rel="stylesheet" href="/css/administrator/admin.css">
</head>
<body>
<div class="wrap">
    <nav th:replace="~{/layout/side-nav :: side-nav}"></nav>
    <div class="title">
        <span>공지사항 관리</span>
    </div>
    <section class="body">
        <div class="board-wrap">
            <div class="board-body">
                <div class="board-list-wrap">
                    <div class="buttons">
                        <div class="ask-wrap">
                            <input type="text" placeholder="공지사항 검색" class="select">
                        </div>
                        <input type="button" class="button-write" value="공지사항 작성">
                        <input type="button" class="button-delete" value="공지사항 삭제">
                    </div>
                    <div class="board-list">
                        <div class="top">
                            <div class="checkbox"></div>
                            <div class="notice-id">공지사항 번호</div>
                            <div class="notice-name">제목</div>
                            <div class="notice-content">내용</div>
                            <div class="notice-register-date">작성 날짜</div>
                            <div class="member-id">관리자 번호</div>
                            <div class="notice-is-blinded">공개여부</div>
                        </div>
                        <div class="notice">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="notice-id">10</div>
                            <div class="notice-name"><a href="">공지합니다.</a></div>
                            <div class="notice-content">공지합니다.공지합니다.공지합니다.공지합니다.</div>
                            <div class="notice-register-date">2023.04.16</div>
                            <div class="member-id">1</div>
                            <div class="notice-is-blinded">비공개</div>
                        </div>
                        <div class="notice">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="notice-id">10</div>
                            <div class="notice-name"><a href="">공지합니다.</a></div>
                            <div class="notice-content">공지합니다.공지합니다.공지합니다.공지합니다.</div>
                            <div class="notice-register-date">2023.04.16</div>
                            <div class="member-id">1</div>
                            <div class="notice-is-blinded">비공개</div>
                        </div>
                        <div class="notice">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="notice-id">10</div>
                            <div class="notice-name"><a href="">공지합니다.</a></div>
                            <div class="notice-content">공지합니다.공지합니다.공지합니다.공지합니다.</div>
                            <div class="notice-register-date">2023.04.16</div>
                            <div class="member-id">1</div>
                            <div class="notice-is-blinded">비공개</div>
                        </div>
                        <div class="notice">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="notice-id">10</div>
                            <div class="notice-name"><a href="">공지합니다.</a></div>
                            <div class="notice-content">공지합니다.공지합니다.공지합니다.공지합니다.</div>
                            <div class="notice-register-date">2023.04.16</div>
                            <div class="member-id">1</div>
                            <div class="notice-is-blinded">비공개</div>
                        </div>
                        <div class="notice">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="notice-id">10</div>
                            <div class="notice-name"><a href="">공지합니다.</a></div>
                            <div class="notice-content">공지합니다.공지합니다.공지합니다.공지합니다.</div>
                            <div class="notice-register-date">2023.04.16</div>
                            <div class="member-id">1</div>
                            <div class="notice-is-blinded">비공개</div>
                        </div>
                        <div class="notice">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="notice-id">10</div>
                            <div class="notice-name"><a href="">공지합니다.</a></div>
                            <div class="notice-content">공지합니다.공지합니다.공지합니다.공지합니다.</div>
                            <div class="notice-register-date">2023.04.16</div>
                            <div class="member-id">1</div>
                            <div class="notice-is-blinded">비공개</div>
                        </div>
                        <div class="notice">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="notice-id">10</div>
                            <div class="notice-name"><a href="">공지합니다.</a></div>
                            <div class="notice-content">공지합니다.공지합니다.공지합니다.공지합니다.</div>
                            <div class="notice-register-date">2023.04.16</div>
                            <div class="member-id">1</div>
                            <div class="notice-is-blinded">비공개</div>
                        </div>
                        <div class="notice">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="notice-id">10</div>
                            <div class="notice-name"><a href="">공지합니다.</a></div>
                            <div class="notice-content">공지합니다.공지합니다.공지합니다.공지합니다.</div>
                            <div class="notice-register-date">2023.04.16</div>
                            <div class="member-id">1</div>
                            <div class="notice-is-blinded">비공개</div>
                        </div>
                        <div class="notice">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="notice-id">10</div>
                            <div class="notice-name"><a href="">공지합니다.</a></div>
                            <div class="notice-content">공지합니다.공지합니다.공지합니다.공지합니다.</div>
                            <div class="notice-register-date">2023.04.16</div>
                            <div class="member-id">1</div>
                            <div class="notice-is-blinded">비공개</div>
                        </div>
                        <div class="notice">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="notice-id">10</div>
                            <div class="notice-name"><a href="">공지합니다.</a></div>
                            <div class="notice-content">공지합니다.공지합니다.공지합니다.공지합니다.</div>
                            <div class="notice-register-date">2023.04.16</div>
                            <div class="member-id">1</div>
                            <div class="notice-is-blinded">공개</div>
                        </div>
                    </div>
                    <div class="board-page">
                        <a href="" class="button first"><<</a>
                        <a href="" class="button prev"><</a>
                        <a href="" class="number active">1</a>
                        <a href="" class="number">2</a>
                        <a href="" class="number">3</a>
                        <a href="" class="number">4</a>
                        <a href="" class="number">5</a>
                        <a href="" class="button next">></a>
                        <a href="" class="button last">>></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="/js/administrator/admin.js"></script>
<script>

</script>
</html>