<!doctype html>
<html lang="en" xmlns="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/administrator/program.css">
    <link rel="stylesheet" href="/css/administrator/admin.css">
    <title>프로그램 관리</title>
</head>
<body>
<div class="wrap">
    <nav th:replace="~{/layout/side-nav :: side-nav}"></nav>
    <div class="title">
        <span>프로그램 관리</span>
    </div>
    <section class="body">
        <div class="board-wrap">
            <div class="board-body">
                <div class="board-list-wrap">
                    <div class="buttons">
                        <div class="ask-wrap">
                            <input type="text" placeholder="프로그램 검색" class="select">
                        </div>
                        <input type="button" class="button-delete" value="프로그램 삭제">
                    </div>
                    <div class="board-list">
                        <!-- -->
                        <!-- -->
                    </div>
                    <div class="board-page">
                        <!-- -->
                        <!-- -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="/js/administrator/admin.js"></script>
<script>
    let service = new AdministratorService(
        "api/program",
        `<div class="top">
            <div class="checkbox"></div>
            <div class="program-id">프로그램 번호</div>
            <div class="program-type">지역</div>
            <div class="program-name">제목</div>
            <div class="program-content">내용</div>
            <div class="program-register-date">작성 날짜</div>
            <div class="member-id">회원 번호</div>
            <div class="program-is-blinded">승인 여부</div>
        </div>`,
        (program) => `
        <div class="program">
            <div class="checkbox"><input type="checkbox"></div>
            <div class="program-id">${program.id}</div>
            <div class="program-type">${program.programAddress}</div>
            <div class="program-name">${program.programName}</div>
            <div class="program-content">
                ${program.programContent.length < 20 ? program.programContent : program.programContent.substring(0, 21)}
            </div>
            <div class="program-register-date">${program.createdDate.substring(0, 10)}</div>
            <div class="member-id">${program.memberId}</div>
            <div class="program-is-blinded">${program.verified}</div>
        </div>`
    );
</script>
</html>