<!doctype html>
<html lang="en" xmlns="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/administrator/program.css">
    <title>프로그램 관리</title>
</head>
<body>
<div class="wrap">
    <nav class="menu">
        <div class="logo">
            <img src="/img/out-seoul.png" alt="">
        </div>
        <hr>
        <ul class="menu-list">
            <li>
                <a href="/main">
                    <span>
                        <img src="/img/site_icon.png" alt="">&nbsp;&nbsp;사이트 바로가기
                    </span>
                </a>
            </li>
            <hr>
            <li>
                <a href="/administrator/program" class="active">
                    <span>
                        <img src="/img/program_icon.png" alt="">&nbsp;&nbsp;프로그램 관리
                    </span>
                </a>
            </li>
            <hr>
            <li><a href="/administrator/stay"> <span><img
                    src="/img/stay_icon.png">&nbsp;&nbsp;숙소 관리</span>
            </a></li>
            <hr>
            <li><a href="/administrator/reservation"> <span><img
                    src="/img/reserve_icon.png">&nbsp;&nbsp;예약 내역 관리</span>
            </a></li>
            <hr>
            <li><a href="/administrator/member"> <span><img
                    src="/img/member_icon.png">&nbsp;&nbsp;회원 관리</span>
            </a></li>
            <hr>
            <li><a href="/administrator/notice"> <span><img
                    src="/img/notice_icon.png">&nbsp;&nbsp;공지사항 관리</span>
            </a></li>
            <hr>
            <li><a href="/administrator/inquiry"> <span><img
                    src="/img/inquiry_icon.png">&nbsp;&nbsp;문의사항 관리</span>
            </a></li>
        </ul>
    </nav>
    <div class="title">
        <span>프로그램 관리</span>
    </div>
    <section class="body">
        <div class="board-wrap">
            <div class="board-body">
                <div class="board-list-wrap">
                    <div class="buttons">
                        <div class="ask-wrap">
                            <input type="text" placeholder="프로그램 검색" class="select">
                        </div>
                        <input type="button" class="button-delete" value="프로그램 삭제">
                    </div>
                    <div class="board-list">
                        <div class="top">
                            <div class="checkbox"></div>
                            <div class="program-id">프로그램 번호</div>
                            <div class="program-type">지역</div>
                            <div class="program-name">제목</div>
                            <div class="program-content">내용</div>
                            <div class="program-register-date">작성 날짜</div>
                            <div class="member-id">회원 번호</div>
                            <div class="program-is-blinded">공개여부</div>
                        </div>

                        <!-- -->
                        <!-- -->

                    </div>
                    <div class="board-page">
                        <a href="" class="button first"><<</a>
                        <a href="" class="button prev"><</a>
                        <a href="" class="number active">1</a>
                        <a href="" class="number">2</a>
                        <a href="" class="number">3</a>
                        <a href="" class="number">4</a>
                        <a href="" class="number">5</a>
                        <a href="" class="button next">></a>
                        <a href="" class="button last">>></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="/js/administrator/admin.js"></script>
<script>

    with (administratorService) {
        requestURL = "/administrator/api/program";
        header = `
            <div class="top">
                <div class="checkbox"></div>
                <div class="program-id">프로그램 번호</div>
                <div class="program-type">지역</div>
                <div class="program-name">제목</div>
                <div class="program-content">내용</div>
                <div class="program-register-date">작성 날짜</div>
                <div class="member-id">회원 번호</div>
                <div class="program-is-blinded">공개여부</div>
            </div>
        `;
        appender = (program) => `
            <div class="top">
                <div class="checkbox"></div>
                <div class="program-id">${program.id}</div>
                <div class="program-type">${program.id}</div>
                <div class="program-name">${program.id}</div>
                <div class="program-content">${program.id}</div>
                <div class="program-register-date">${program.id}</div>
                <div class="member-id">${program.id}</div>
                <div class="program-is-blinded">${program.id}</div>
            </div>
        `;
        init();
        registerEvents();
    }
</script>
</html>