<!doctype html>
<html lang="en" xmlns="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>숙소 관리</title>
    <link rel="stylesheet" href="/css/administrator/reservation.css">
    <link rel="stylesheet" href="/css/administrator/admin.css">
</head>
<body>
<div class="wrap">
    <nav th:replace="~{/layout/side-nav :: side-nav}"></nav>
    <div class="title">
        <span>예약 내역 관리</span>
    </div>
    <section class="body">
        <div class="board-wrap">
            <div class="board-body">
                <div class="board-list-wrap">
                    <div class="buttons">
                        <div class="ask-wrap">
                            <input type="text" placeholder="예약 내역 검색" class="select">
                        </div>
                        <input type="button" class="button-delete" value="예약 삭제">
                    </div>
                    <div class="board-list">
                        <div class="top">
                            <div class="checkbox"></div>
                            <div class="reservation-id">예약 번호</div>
                            <div class="program-id">프로그램 번호</div>
                            <div class="stay-id">숙소 번호</div>
                            <div class="reservation-register-date">예약 날짜</div>
                            <div class="member-id">회원 번호</div>
                            <div class="boss-id">사장 회원 번호</div>
                            <div class="reservation-is-blinded">예약취소여부</div>
                        </div>
                        <div class="reservation">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="reservation-id">10</div>
                            <div class="program-id">4</div>
                            <div class="stay-id">23</div>
                            <div class="reservation-register-date">2023.04.16</div>
                            <div class="member-id">2</div>
                            <div class="boss-id">55</div>
                            <div class="reservation-is-blinded">예약취소</div>
                        </div>
                        <div class="reservation">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="reservation-id">10</div>
                            <div class="program-id">4</div>
                            <div class="stay-id">23</div>
                            <div class="reservation-register-date">2023.04.16</div>
                            <div class="member-id">2</div>
                            <div class="boss-id">55</div>
                            <div class="reservation-is-blinded">예약취소</div>
                        </div>
                        <div class="reservation">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="reservation-id">10</div>
                            <div class="program-id">4</div>
                            <div class="stay-id">23</div>
                            <div class="reservation-register-date">2023.04.16</div>
                            <div class="member-id">2</div>
                            <div class="boss-id">55</div>
                            <div class="reservation-is-blinded">예약취소</div>
                        </div>
                        <div class="reservation">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="reservation-id">10</div>
                            <div class="program-id">4</div>
                            <div class="stay-id">23</div>
                            <div class="reservation-register-date">2023.04.16</div>
                            <div class="member-id">2</div>
                            <div class="boss-id">55</div>
                            <div class="reservation-is-blinded">예약취소</div>
                        </div>
                        <div class="reservation">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="reservation-id">10</div>
                            <div class="program-id">4</div>
                            <div class="stay-id">23</div>
                            <div class="reservation-register-date">2023.04.16</div>
                            <div class="member-id">2</div>
                            <div class="boss-id">55</div>
                            <div class="reservation-is-blinded">예약취소</div>
                        </div>
                        <div class="reservation">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="reservation-id">10</div>
                            <div class="program-id">4</div>
                            <div class="stay-id">23</div>
                            <div class="reservation-register-date">2023.04.16</div>
                            <div class="member-id">2</div>
                            <div class="boss-id">55</div>
                            <div class="reservation-is-blinded">예약취소</div>
                        </div>
                        <div class="reservation">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="reservation-id">10</div>
                            <div class="program-id">4</div>
                            <div class="stay-id">23</div>
                            <div class="reservation-register-date">2023.04.16</div>
                            <div class="member-id">2</div>
                            <div class="boss-id">55</div>
                            <div class="reservation-is-blinded">예약취소</div>
                        </div>
                        <div class="reservation">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="reservation-id">10</div>
                            <div class="program-id">4</div>
                            <div class="stay-id">23</div>
                            <div class="reservation-register-date">2023.04.16</div>
                            <div class="member-id">2</div>
                            <div class="boss-id">55</div>
                            <div class="reservation-is-blinded">예약취소</div>
                        </div>
                        <div class="reservation">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="reservation-id">10</div>
                            <div class="program-id">4</div>
                            <div class="stay-id">23</div>
                            <div class="reservation-register-date">2023.04.16</div>
                            <div class="member-id">2</div>
                            <div class="boss-id">55</div>
                            <div class="reservation-is-blinded">예약취소</div>
                        </div>
                        <div class="reservation">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="reservation-id">10</div>
                            <div class="program-id">4</div>
                            <div class="stay-id">23</div>
                            <div class="reservation-register-date">2023.04.16</div>
                            <div class="member-id">2</div>
                            <div class="boss-id">55</div>
                            <div class="reservation-is-blinded">예약취소</div>
                        </div>
                    </div>
                    <div class="board-page">
                        <a href="" class="button first"><<</a>
                        <a href="" class="button prev"><</a>
                        <a href="" class="number active">1</a>
                        <a href="" class="number">2</a>
                        <a href="" class="number">3</a>
                        <a href="" class="number">4</a>
                        <a href="" class="number">5</a>
                        <a href="" class="button next">></a>
                        <a href="" class="button last">>></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="/js/administrator/admin.js"></script>
<script>

</script>
</html>