<!doctype html>
<html lang="en" xmlns="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>숙소 관리</title>
    <link rel="stylesheet" href="/css/administrator/stay.css">
</head>
<body>
<div class="wrap">
    <nav class="menu">
        <div class="logo">
            <img src="/img/out-seoul.png" alt="">
        </div>
        <hr>
        <ul class="menu-list">
            <li><a href="/main"> <span><img
                    src="/img/site_icon.png">&nbsp;&nbsp;사이트 바로가기</span>
                <hr>
            <li><a href="/administrator/program"> <span><img
                    src="/img/program_icon.png">&nbsp;&nbsp;프로그램 관리</span>
            </a></li>
            <hr>
            <li><a href="/administrator/stay" class="active"> <span><img
                    src="/img/stay_icon.png">&nbsp;&nbsp;숙소 관리</span>
            </a></li>
            <hr>
            <li><a href="/administrator/reservation"> <span><img
                    src="/img/reserve_icon.png">&nbsp;&nbsp;예약 내역 관리</span>
            </a></li>
            <hr>
            <li><a href="/administrator/member"> <span><img
                    src="/img/member_icon.png">&nbsp;&nbsp;회원 관리</span>
            </a></li>
            <hr>
            <li><a href="/administrator/notice"> <span><img
                    src="/img/notice_icon.png">&nbsp;&nbsp;공지사항 관리</span>
            </a></li>
            <hr>
            <li><a href="/administrator/inquiry"> <span><img
                    src="/img/inquiry_icon.png">&nbsp;&nbsp;문의사항 관리</span>
            </a></li>
        </ul>
    </nav>
    <div class="title">
        <span>숙소 관리</span>
    </div>
    <section class="body">
        <div class="board-wrap">
            <div class="board-body">
                <div class="board-list-wrap">
                    <div class="buttons">
                        <div class="ask-wrap">
                            <input type="text" placeholder="숙소 검색" class="select">
                        </div>
                        <input type="button" class="button-delete" value="숙소 삭제">
                    </div>
                    <div class="board-list">
                        <div class="top">
                            <div class="checkbox"></div>
                            <div class="stay-id">숙소 번호</div>
                            <div class="stay-type">지역</div>
                            <div class="stay-name">이름</div>
                            <div class="stay-content">설명</div>
                            <div class="stay-register-date">등록 날짜</div>
                            <div class="member-id">회원 번호</div>
                            <div class="stay-is-blinded">사용여부</div>
                        </div>
                        <div class="stay">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="stay-id">10</div>
                            <div class="stay-type">서울</div>
                            <div class="stay-name"><a href="">러블리하우스</a></div>
                            <div class="stay-content">넘흐예쁘네염넘흐예쁘네염넘흐예쁘네염넘흐예쁘네염</div>
                            <div class="stay-register-date">2023.04.16</div>
                            <div class="member-id">1</div>
                            <div class="stay-is-blinded">사용중</div>
                        </div>
                        <div class="stay">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="stay-id">10</div>
                            <div class="stay-type">서울</div>
                            <div class="stay-name"><a href="">러블리하우스</a></div>
                            <div class="stay-content">넘흐예쁘네염넘흐예쁘네염넘흐예쁘네염넘흐예쁘네염</div>
                            <div class="stay-register-date">2023.04.16</div>
                            <div class="member-id">1</div>
                            <div class="stay-is-blinded">사용중</div>
                        </div>
                        <div class="stay">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="stay-id">10</div>
                            <div class="stay-type">서울</div>
                            <div class="stay-name"><a href="">러블리하우스</a></div>
                            <div class="stay-content">넘흐예쁘네염넘흐예쁘네염넘흐예쁘네염넘흐예쁘네염</div>
                            <div class="stay-register-date">2023.04.16</div>
                            <div class="member-id">1</div>
                            <div class="stay-is-blinded">사용중</div>
                        </div>
                        <div class="stay">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="stay-id">10</div>
                            <div class="stay-type">서울</div>
                            <div class="stay-name"><a href="">러블리하우스</a></div>
                            <div class="stay-content">넘흐예쁘네염넘흐예쁘네염넘흐예쁘네염넘흐예쁘네염</div>
                            <div class="stay-register-date">2023.04.16</div>
                            <div class="member-id">1</div>
                            <div class="stay-is-blinded">사용중</div>
                        </div>
                        <div class="stay">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="stay-id">10</div>
                            <div class="stay-type">서울</div>
                            <div class="stay-name"><a href="">러블리하우스</a></div>
                            <div class="stay-content">넘흐예쁘네염넘흐예쁘네염넘흐예쁘네염넘흐예쁘네염</div>
                            <div class="stay-register-date">2023.04.16</div>
                            <div class="member-id">1</div>
                            <div class="stay-is-blinded">사용중</div>
                        </div>
                        <div class="stay">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="stay-id">10</div>
                            <div class="stay-type">서울</div>
                            <div class="stay-name"><a href="">러블리하우스</a></div>
                            <div class="stay-content">넘흐예쁘네염넘흐예쁘네염넘흐예쁘네염넘흐예쁘네염</div>
                            <div class="stay-register-date">2023.04.16</div>
                            <div class="member-id">1</div>
                            <div class="stay-is-blinded">사용중</div>
                        </div>
                        <div class="stay">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="stay-id">10</div>
                            <div class="stay-type">서울</div>
                            <div class="stay-name"><a href="">러블리하우스</a></div>
                            <div class="stay-content">넘흐예쁘네염넘흐예쁘네염넘흐예쁘네염넘흐예쁘네염</div>
                            <div class="stay-register-date">2023.04.16</div>
                            <div class="member-id">1</div>
                            <div class="stay-is-blinded">사용중</div>
                        </div>
                        <div class="stay">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="stay-id">10</div>
                            <div class="stay-type">서울</div>
                            <div class="stay-name"><a href="">러블리하우스</a></div>
                            <div class="stay-content">넘흐예쁘네염넘흐예쁘네염넘흐예쁘네염넘흐예쁘네염</div>
                            <div class="stay-register-date">2023.04.16</div>
                            <div class="member-id">1</div>
                            <div class="stay-is-blinded">사용중</div>
                        </div>
                        <div class="stay">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="stay-id">10</div>
                            <div class="stay-type">서울</div>
                            <div class="stay-name"><a href="">러블리하우스</a></div>
                            <div class="stay-content">넘흐예쁘네염넘흐예쁘네염넘흐예쁘네염넘흐예쁘네염</div>
                            <div class="stay-register-date">2023.04.16</div>
                            <div class="member-id">1</div>
                            <div class="stay-is-blinded">사용중</div>
                        </div>
                        <div class="stay">
                            <div class="checkbox"><input type="checkbox"></div>
                            <div class="stay-id">10</div>
                            <div class="stay-type">서울</div>
                            <div class="stay-name"><a href="">러블리하우스</a></div>
                            <div class="stay-content">넘흐예쁘네염넘흐예쁘네염넘흐예쁘네염넘흐예쁘네염</div>
                            <div class="stay-register-date">2023.04.16</div>
                            <div class="member-id">1</div>
                            <div class="stay-is-blinded">사용중</div>
                        </div>
                    </div>
                    <div class="board-page">
                        <a href="" class="button first"><<</a>
                        <a href="" class="button prev"><</a>
                        <a href="" class="number active">1</a>
                        <a href="" class="number">2</a>
                        <a href="" class="number">3</a>
                        <a href="" class="number">4</a>
                        <a href="" class="number">5</a>
                        <a href="" class="button next">></a>
                        <a href="" class="button last">>></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>